{template 'common/header'}
<ul class="nav nav-tabs">
    <li{if $op == 'list'} class="active"{/if}><a href="{php echo $this->createWebUrl('manage',array('op'=>'list'))}">申诉信息</a></li>
    {if $op == 'view'}<li class="active"><a href="javascript:;">信息详情</a></li>{/if}
</ul>
{if $op == 'list'}
<div class="list_page">
    <form action="" method="post" id="form1">
        <div class="panel panel-default">
            <div class="panel-body table-responsive">
                <table class="table table-hover">
                    <thead class="navbar-inner">
                    <tr>
                        <th style="width:5%;text-align: center">序号</th>
                        <th style="width:30%;text-align: center">姓名</th>
                        <th style="width:30%;text-align: center">车牌号</th>
                        <th style="width:15%;text-align: center">提交时间</th>
                        <th style="width:15%;text-align: center">状态</th>
                        <th style="width:15%;text-align: center">受理时间</th>
                        <th style="width:20%;text-align: center">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {loop $list $item}
                    <tr>
                        <td style="vertical-align:middle;text-align: center">{$item['id']}</td>
                        <td style="vertical-align:middle;text-align: center">{$item['appeal_name']}</td>
                        <td style="vertical-align:middle;text-align: center">{$item['wfcph']}</td>
                        <td style="vertical-align:middle;text-align: center" >{php echo date('Y-m-d H:i:s',$item['time'])}</td>
                        <td style="vertical-align:middle;text-align: center" >{if $item['status'] == 2}<span style="color:orange;">未受理</span>{elseif $item['status'] == 1} <span style="color:green;">通过</span>{else} <span style="color:red;">驳回</span>{/if}</td>
                        <td style="vertical-align:middle;text-align: center" >{if $item['status'] != 2}{php echo date('Y-m-d H:i:s',$item['sittime'])}{/if}</td>
                        <td id="update_{$item['id']}" style="text-align: center">
                            <a href="{php echo $this->createWebUrl('manage',array('op'=>view,'id'=>$item['id']))}" class="btn btn-default btn-sm"  title="点击查看">查看</a>
                            <a href="javascript:;" class="btn btn-danger btn-sm" data-id="{$item['id']}"  title="点击删除">删除</a>
                        </td>
                    </tr>
                    {/loop}
                    </tbody>
                </table>
            </div>
        </div>
        {$pager}
    </form>
</div>
<script>
    $(function(){
        $('.btn').hover(function(){
            $(this).tooltip('show');
        },function(){
            $(this).tooltip('hide');
        });
        /*删除*/
        $('.btn-danger').click(function(){
            var id = $(this).attr('data-id');
            if(confirm('确定要删除吗？')){
                $.post("{php echo $this->createWebUrl('manage',array('op'=>'sub_delete'))}",{'id':id},function(data){
                    if (data == 200){
                        alert('删除成功！');
                        window.location.href = "{php echo $this->createWebUrl('manage',array('op'=>'list'))}";
                    }
                });
            }
        });
    });
</script>
{/if}
{if $op == 'view'}
<div class="main">
    <div class="panel panel-default">
        <div class="panel-heading">申诉信息详情</div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">姓名:</label>
                <div class="col-sm-9 col-xs-9 col-md-9">
                    <p class="form-control-static">{$dataone['appeal_name']}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">车牌号码:</label>
                <div class="col-sm-9 col-xs-9 col-md-9">
                    <p class="form-control-static">{$dataone['wfcph']}</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">联系方式:</label>
                <div class="col-sm-9 col-xs-9 col-md-9">
                    <p class="form-control-static">{$dataone['appeal_phone']}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">提交时间:</label>
                <div class="col-sm-9 col-xs-9 col-md-9">
                    <p class="form-control-static">{php echo date('Y-m-d H:i:s',$dataone['time'])}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">情况说明:</label>
                <div class="col-sm-9 col-xs-9 col-md-9">
                    <p class="form-control-static">{$dataone['appeal_why']}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">违法信息</div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">违法时间:</label>
                <div class="col-sm-9 col-xs-9 col-md-9">
                    <p class="form-control-static">{php echo date('Y-m-d H:i:s',$dataone['wftime'])}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">采集机关名称:</label>
                <div class="col-sm-9 col-xs-9 col-md-9">
                    <p class="form-control-static">{php echo $dataone['wfcjjg']}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">监控序号:</label>
                <div class="col-sm-9 col-xs-9 col-md-9">
                    <p class="form-control-static">{php echo $dataone['wfjkxh']}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">违法处理标记:</label>
                <div class="col-sm-9 col-xs-9 col-md-9">
                    <p class="form-control-static">{if $dataone['wfclbj'] == 2}处理完成{elseif $dataone['wfclbj'] ==1}未缴款{else}未处理{/if}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">违法入录时间:</label>
                <div class="col-sm-9 col-xs-9 col-md-9">
                    <p class="form-control-static">{php echo date('Y-m-d H:i:s',$dataone['wfrksj'])}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">违法罚款记分:</label>
                <div class="col-sm-9 col-xs-9 col-md-9">
                    <p class="form-control-static">{php echo $dataone['wffkjf']}</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">违法地点:</label>
                <div class="col-sm-9 col-xs-9 col-md-9">
                    <p class="form-control-static">{$dataone['wfaddr']}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">违法行为（编号）:</label>
                <div class="col-sm-9 col-xs-9 col-md-9">
                    <p class="form-control-static">{$dataone['wfcontent']}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">罚款金额:</label>
                <div class="col-sm-9 col-xs-9 col-md-9">
                    <p class="form-control-static">{$dataone['wfmoney']}</p>
                </div>
            </div>
            <!--<div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">违法图片:</label>
                <div class="col-sm-9 col-xs-9 col-md-9">
                    <p class="form-control-static"><img src="{$dataone['wfimage']}" alt="违法图片"></p>
                </div>
            </div>-->
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">受理操作</div>
        <div class="panel-body" style="padding-bottom: 0;">
            <div class="form-group">
                {if $dataone['status'] != 2}
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">受理时间</label>
                <div class="col-sm-9 col-xs-9 col-md-9">
                    <p class="form-control-static">{php echo date('Y-m-d H:i:s',$dataone['sittime'])}</p>
                </div>
                {/if}
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否受理</label>
                {if $dataone['status'] == 2}
                <div class="col-sm-9 col-xs-12">
                    <label class="radio-inline">
                        <input type="radio" value="1" name="status" onClick="$('#failreason').hide();" checked> 受理
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="3" name="status" onClick="$('#failreason').show();"> 驳回
                    </label>
                </div>
                {else}
                <div class="col-sm-9 col-xs-9 col-md-9">
                    <p class="form-control-static">{if $dataone['status']==1}通过{else}驳回{/if}</p>
                </div>
                {/if}
            </div>
        </div>
        <div class="panel-body" style="padding-top: 0;">
            <div class="form-group" id="failreason" style="display:{if $dataone['status']==3} {else}none{/if}">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">驳回原因</label>
                <input type="hidden" value="{$dataone['id']}" name="id">
                {if $dataone['status']==3}
                <div class="col-sm-9 col-xs-9 col-md-9">
                    <p class="form-control-static">{$dataone['turndown']}</p>
                </div>
                {else}
                <div class="col-sm-9 col-xs-9 col-md-9">
                    <textarea class="form-control" name="turndown">{$dataone['turndown']}</textarea>
                </div>
                {/if}
            </div>
        </div>
    </div>
    <a href="javascript:history.go(-1);" class="btn btn-primary">返回列表</a>
    <span data-id="{$dataone['id']}" class="btn btn-danger sub_delete" style="margin:0 20px"  title="点击删除">删除信息</span>
    {if $dataone['status'] == 2}<button class="btn btn-success" title="点击修改">确认修改</button>{/if}
    <script>
        $(function(){
            $('.btn-success').click(function(){
                var status = $("[name = 'status']:checked").val();
                var turndown = $("[name = 'turndown']").val();
                var id = $("[name = 'id']").val();
                if (confirm('您确定要修改吗？')){
                    $.post("{php echo $this->createWebUrl('ssturndown')}",{id:id,turndown:turndown,status:status},function(data){
                        if (data == 200){
                            alert('修改成功！');
                            window.location.href = "{php echo $this->createWebUrl('manage',array('op'=>'list'))}";
                        }else{
                            alert('修改失败');
                        }
                    });
                }

            });
            //删除
            $('.sub_delete').click(function(){
                var id = $(this).attr('data-id');
                if (confirm('您确定要删除吗？')){
                    $.post("{php echo $this->createWebUrl('manage',array('op'=>'sub_delete'))}",{'id':id},function(data){
                        if (data == 200){
                            alert('删除成功！');
                            window.location.href = "{php echo $this->createWebUrl('manage',array('op'=>'list'))}";
                        }
                    });
                }
            });
        });

    </script>
</div>
{/if}
{template 'common/footer'}