<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui,user-scalable=1.0" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href="{S_URL}css/index.css" rel="stylesheet">
	<script src="{S_URL}js/index.js"></script>
	<script src="http://oisj37y62.bkt.clouddn.com/xytp_v2/jquery-3.0.0.js"></script>
	<title>奋斗誓言投票</title>
</head>
<body>
<div class="wrapper1">
	<!--飘带  渐现效果-->
	<div class="ribbonDiv">
		<img src="http://oisj37y62.bkt.clouddn.com/xytp_v2/ribbon.png" />
	</div>
	<!--阳光   旋转闪烁效果-->
	<div class="sunnyDiv">
		<img src="http://oisj37y62.bkt.clouddn.com/xytp_v2/sunny.png"/>
	</div>
	<div class="logoDiv">
		<img src="http://oisj37y62.bkt.clouddn.com/xytp_v2/logo.png"/>
	</div>
	<div class="title1Div">
		<img src="http://oisj37y62.bkt.clouddn.com/xytp_v2/title1.png"/>
	</div>
	<!--正文标题  放大效果-->
	<div class="title2Div">
		<img src="http://oisj37y62.bkt.clouddn.com/xytp_v2/title2.png"/>
	</div>
	<!--投票按钮  跳转至内页-->
	<div class="voteDiv">
		<a href="{php echo $this->createMobileUrl('votelist')}"><img src="http://oisj37y62.bkt.clouddn.com/xytp_v2/vote-btn.png"/></a>
	</div>
	<!--活动规则按钮  左方滑入-->
	<div class="ruleDiv">
		<img class="ruleImg" src="http://oisj37y62.bkt.clouddn.com/xytp_v2/rule-btn.png" />
	</div>
</div>


<!--规则弹窗-->
<div id="rulemaskId" class="mask" style="display:none">
	<div class="ruleContent" >
		<img src="http://oisj37y62.bkt.clouddn.com/xytp_v2/close-icon.png" id="ruleclose" />
		<div class="ruleTxt">
			<p>活动时间：2017年1月9日-2017年1月12日</p >
			<p>活动详情：</p >
			<p>1.活动期间，每人每天均有<span>3次</span>机会进行投票。</p >
			<p>2.每次投票， 【中支及直属支行】 、 【支行及部门】 、 【客户经理】<span> 各栏均需至少选择一票</span>方可提交。</p >
			<p>3.每栏可选择多条誓言进行投票。</p >
		</div>
		{template 'wxsdk'}
		<script>
			$(function(){
				$('.ruleImg').click(function(){
					$('#rulemaskId').show();
				});
				$('#ruleclose').click(function(){
					$('#rulemaskId').hide();
				});
			});
			wx.ready(function(){
				_title = "2017年小微年度最赞奋斗誓言等你来选！";
				_link = "{$_W['siteurl']}";
				_imgUrl = "http://oisj37y62.bkt.clouddn.com/xytp_v2/share_img.jpg";
				_desc = "2017小微业务奋斗誓言投票活动。";
				wx.onMenuShareTimeline({
					title: _title,
					link: _link,
					imgUrl: _imgUrl,
					success: function () {
					}
				});
				wx.onMenuShareAppMessage({
					title: _title,
					link: _link,
					desc: _desc,
					imgUrl: _imgUrl,
					success: function () {
					}
				});
			});
		</script>
	</body>
</html>
