* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
body,h1,h2,h3,h4,input,ul,li,dl,dt,dd,p,button{margin:0;padding:0; /*list-style:none;*/font-weight:normal;}
body{height:100%; font-size: 16px;}
html{height:100%;}
img{display:block;}

@font-face {
  font-family: 'iconfont';  /* project id 222658 */
  src: url('http://at.alicdn.com/t/font_0ju8mcsjzlu9pb9.eot');
  src: url('http://at.alicdn.com/t/font_0ju8mcsjzlu9pb9.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_0ju8mcsjzlu9pb9.woff') format('woff'),
  url('http://at.alicdn.com/t/font_0ju8mcsjzlu9pb9.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_0ju8mcsjzlu9pb9.svg#iconfont') format('svg');
}

.finance{width:100%;}
.fina_box{width:100%;}
.logo{width:20%; margin:0 auto; margin-top:3%;}
.logo img{width:100%;}
.title{width:100%; text-align: center;}
.tit_img{width:100%; margin-top:3%; }
.tit_img img{width:100%;}
.title p:nth-child(2){color:#231815; font-size: 1.5rem; margin-top:-20%;}
.title p:nth-child(3){color:#666666; font-size: 1rem; margin-top:5px;}
.content{width:100%; margin-top:3%;}
.cont_img1{width:100%;}
.cont_img1 img,.cont_img2 img{width:100%;}
.cont_img2{width:94%; margin:0 auto;}
.content ul{list-style-type: disc; width:90%; margin-left:8%; margin-top:15px;}
.content li{color:#666666; font-size:0.8rem;margin-top: 6px;; line-height:20px;}
.cont_p{width:94%; margin-left:3%; margin-top:15px;}
.cont_p p{color:#666666; font-size:0.8rem;margin-top: 6px;; line-height:20px; font-style: italic;}
.cont_p1{margin:0 auto; width:94%; border-top:solid 2px #adadad; margin-top:20px;}
.cont_p1 p{font-size:0.9rem; text-align: center; margin-top:8px;}
.appoint{width:94%; margin:0 auto; margin-top:20px;}
.app_red{background-color: #e31a22; width:100%; height:20px; border-radius: 20px;}
.app_gray{margin-top:-15px; box-shadow:3px 3px 6px rgba(0,0,0,0.2); margin-bottom:30px; background-color:#eeeeee; width:100%; /*height:260px;*/ border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;}
.appoint_tit{width:37%; margin:0 auto; padding-top:20px; overflow: hidden;}
.appoint_tit i{color:#e31a22;float:left; margin-left:5%; font-family:"iconfont" !important;font-size:20px;font-style:normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px;-moz-osx-font-smoothing: grayscale;}
.appoint_tit p{color:#e31a22;float:left; margin-left:6%; font-size:1.2rem;font-weight: bold;}
.arrow{text-align:center; margin-top:8px;}
.arrow i{color:#e31a22; font-family:"iconfont" !important;font-size:20px;font-style:normal;-webkit-font-smoothing: antialiased;-webkit-text-stroke-width: 0.2px;-moz-osx-font-smoothing: grayscale;}

.form_box{width:100%;}
.form1{width:92%; overflow: hidden; margin-left: 8%; margin-top:16px;}
.form1_left{float:left; width:26%; overflow: hidden;padding-left:10%;}
.form1_right{float: right;width:74%; }
.form1_left div:nth-child(1){float:left; width:74%; height:20px; background-color:#e31a22; color:white; font-size:0.7rem; line-height:20px; text-align: center;}
.form1_left div:nth-child(2){float:left; margin-top:-5px; margin-left:-4px; width:0; height:0; transform: rotate(45deg); border-top:8px solid transparent;border-bottom:8px solid transparent; border-right:8px solid #e31a22; }
.form1_right input{width:80%; background: url(../img/icon1.png) no-repeat 5% center white; background-size:9.5%; height:36px; padding-left:14%; border-radius: 10px; border:solid 1px #cccccc;}
input:focus::-webkit-input-placeholder{color:transparent;}

.form3 .form1_left div:nth-child(1){background-color:#f4961c;}
.form3 .form1_left div:nth-child(2){border-right:8px solid #f4961c;}
.form2 .form1_right input{background: url(../img/icon2.png) no-repeat 5% center white;background-size:9%;}
.form3 .form1_right input{background: url(../img/icon3.png) no-repeat 5% center white;background-size:8%;}

#submit{border:none; margin:25px 0; color:white; width:100%;font-size:1.1rem; height:36px; background-color: #e31a22; border-radius: 10px;}

.dibu{overflow: hidden; margin:0 auto;margin-bottom: 20px; color:#666666;text-align: center}
.dibu p {font-size:0.8rem;}


/*加载*/
#loading-fs{position: fixed; display:none; z-index:999;
  top: 40%;
  left: 0;
  width: 100%;}
#loading-fs > div{    background: rgba(0,0,0,.8);
  padding: 40px 0;
  width: 46%;
  margin: 0 auto;
  border-radius: 5px;
  color: #fff;
  font-size: .8em;
  text-align: center;}
#loadanim {
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url(http://oisj37y62.bkt.clouddn.com/xytp_v2/loading.png) no-repeat;
  vertical-align: -3px;
  margin-right: 5px;
  -webkit-animation: loading .8s linear infinite;
  -moz-animation: loading 0.8s linear infinite;
  -o-animation: loading 0.8s linear infinite;
  animation: loading 0.8s linear infinite;
}
@-webkit-keyframes loading{
  0%{-webkit-transform:rotate(0deg);}	100%{-webkit-transform:rotate(360deg);}}
@-moz-keyframes loading{
  0%{-moz-transform:rotate(0deg);}  	100%{-moz-transform:rotate(360deg);}}
@-o-keyframes loading{
  0%{-o-transform:rotate(0deg);}	100%{-o-transform:rotate(360deg);}}
@keyframes loading{
  0%{transform:rotate(0deg);}	100%{transform:rotate(360deg);}}
/*加载*/

/*新增*/
.se_right select{width:80%; height:36px; padding-left:14%; color:#999999; border-radius: 10px; border:solid 1px #cccccc;}

/*新增弹框*/
.tankuang{width:100%; height:100%;background-color:rgba(0,0,0,0.6); position:fixed; top:0;left:0;}
.tk_cover{width:80%;height:200px; margin:0 auto; margin-top:50%;border-radius: 5px; background-color:white;}
.tk_cover div{width:100%;height:20px; background-color: #e31a22; border-top-left-radius: 5px; border-top-right-radius: 5px;}
.tk_cover_p1{font-size:1rem; width:80%; text-align: center; margin:0 auto; margin-top:10px;}
.tk_cover_p2{color:#e31a22; font-size:0.8rem; width:80%; margin:0 auto; margin-top:10px;}
.tk_cover a{display: block; width:60%;margin:0 auto; margin-top:1rem; height: 36px; border-radius: 5px; background-color:#e31a22; color:white; text-align: center; line-height:36px;}





