@charset "utf-8";
/* CSS Document */

body,div,ol,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,form,fieldset,legend,input,select,a,button,img{
	 margin:0; padding:0; list-style: none;font-family: Helvetica; font-weight: normal;}
body{color:#3f3f3f; font-size:16px;}
*{box-sizing: border-box;}

/*首页*/
.page1{ width:100%; height:100%;background-color: #FFFFFF;}
.bannerDiv{width: 100%;}
.bannerDiv img{width:100%; height:100%; background-size: 100% 100%;}

.page1btn{
    background: #65b0ff;
    width: 40%;
    margin: 0 auto;
    margin-top: 12%;
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
    padding: 3% 0;
    border-radius: 8px;
    margin-bottom: 12%;
}
/***************************************************/
.contentDiv{
	width: 80%;
    border: 2px dashed #65b0ff;
    border-radius: 8px;
    padding: 20px 0 40px 0;
    margin: 0 auto;
    margin-top: 15px;
}
.contentDiv p{
	width: 90%;
	margin: 0 auto;
}
/**************表扬信息页***************************************/
.item{
	width: 100%;
	position: relative;
    display: table;
    border-collapse: separate;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
.item span{
	width: 30%;
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;
    padding: 2% 7%;
    font-size: 1rem;
    line-height: 1rem;
    color: #555;
}
.item input{
    padding: 2% 7%;
    font-size: 0.7em;
    line-height: 1.5rem;
    color: #999999;
    position: relative;
    z-index: 2;
    float: left;
    width: 83%;
    margin-bottom: 0;
    display: table-cell;
    outline: none;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    text-align: center;
}
.item select{
    font-size: 0.7em;
}
.addSelect{
    width: 83%;
    font-size: 1rem;
    padding-left: 29%;
    line-height: 1.5rem;
    border-radius: 8px;
    height: 2.5rem;
    color: #999999;
    border-color: #ccc;
}
.addSelect2{
    width: 83%;
    font-size: 1rem;
    padding-left: 26%;
    line-height: 1.5rem;
    border-radius: 8px;
    height: 2.5rem;
    color: #999999;
    border-color: #ccc;
}
.addSelect option{
    text-align: center;	
}
.page3 textarea{
     text-align: center;
     width: 83%;
     border-radius: 8px;
     color: #CCCCCC;
     resize: none;
     padding-top: 5%;
 }
.textarea{
    text-align: center;
    width: 83%;
    border-radius: 8px;
    color: #CCCCCC;
    resize: none;
    padding-top: 5%;
    height: 7rem;
}
.lastitem{
	width: 100%;
	position: relative;
    display: table;
    border-collapse: separate;
    padding: 10px 0;

}
.description{
    width: 30%;
    display: table-cell;
    white-space: nowrap;
    vertical-align: top;
    padding-left: 7%;
    padding-top: 3%;
    font-size: 1rem;
    line-height: 1rem;
    color: #555;
}
/*************评议信息页***********************************************/
.content6Div{
	width: 85%;
    border: 2px dashed #65b0ff;
    border-radius: 8px;
    padding: 20px 0 40px 0;
    margin: 0 auto;
    margin-top: 15px;
    padding: 3%;
}
.contentList{
	margin-top: 8%;
    margin-bottom: 8%;
}
.contentList h3{
	font-size: 1rem;	
}
.contentList input{
	padding-top: 2%;
	margin-top: 4%;
}
.contentItem{
	font-size: 0.9rem;
	padding: 0 2% 0 2%;
}

@media (min-device-width:375px) and (max-device-width:667px) and (-webkit-min-device-pixel-ratio:2){
	
	
}
@media (min-device-width:414px) and (max-device-width:736px) and (-webkit-min-device-pixel-ratio:3){
	
}

@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone5 */
    .textarea{
        width: 78%;
        margin-left: 6%;
    }

}
@media (device-height:480px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone4/4s */
     
}

