<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui,user-scalable=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <link href="{$_W['siteroot']}app/resource/css/common.min.css?v=20160906" rel="stylesheet">
    <link href="{$_W['siteroot']}app/resource/css/mui.picker.css" rel="stylesheet">
    <link href="{$_W['siteroot']}app/resource/css/mui.poppicker.css" rel="stylesheet">
    <link href="{S_URL}css/style.css" rel="stylesheet">
    <script src="{S_URL}js/jquery-3.0.0.js"></script>
    <!--<script type="text/javascript" src="{$_W['siteroot']}app/resource/js/app/util.js"></script>-->
    <!--<script src="{$_W['siteroot']}app/resource/js/require.js"></script>-->
    <script type="text/javascript" src="{$_W['siteroot']}app/resource/js/lib/mui.min.js?v=20160906"></script>
    <!--<script type="text/javascript" src="{$_W['siteroot']}app/resource/js/app/common.js?v=20160906"></script>-->
    <script type="text/javascript" src="{$_W['siteroot']}app/resource/js/app/city.data.js"></script>
    <script type="text/javascript" src="{$_W['siteroot']}app/resource/js/app/mui.poppicker.js"></script>
    <script type="text/javascript" src="{$_W['siteroot']}app/resource/js/app/mui.picker.js"></script>
    <title>信息变更</title>
    <style>
        .acc_example{width: 100%;position:fixed;top: 0;left:0;display: none;background-color: rgba(0,0,0,0.9);height: 100%;}
        .acc_example img{display: block;width:100%;position:absolute;top:0;bottom:0;right:0;left:0;margin:auto; height:70%;}
    </style>
</head>
<body>
{template 'wxsdk'}
<script>
 /*   wx.ready(function(){
        mui.alert(' 业务调整中，即将恢复，给您带来不便敬请谅解！', function() {
            wx.closeWindow();
        });
    });*/
</script>
<!--办理须知-->
<div class="content ">
    <div class="content_box">
        <div class="ill_head">
            <div class="illegal">
                <div class="ill_tit driver ill_current">驾驶人信息变更</div>
            </div>
            <div class="illegal">
                <div class="ill_tit car">机动车信息变更</div>
            </div>
        </div>
        <div class="ill_query first">
            <div class="query_box jsr" style="display: block" >
                <div class="adap_range1">
                    <div>办理须知</div>
                    <div>1、驾驶人信息变更业务只能办理驾驶人的联系电话和邮寄地址的变更。<br/>
                        2、如需申请变更其他信息（如变更身份证号码、姓名等）请前往无锡车管所咨询办理(咨询电话:96122、81188228)。<br/>
                        3、请驾驶人如实填写相关信息。凡提供虚假信息，需承担相应法律后果。</div>
                </div>
                <a id="tiao1" href="javascript:;" style="margin-top: 18.6%">确定</a>
            </div>
            <div class="query_box jdc"  style="display:none;">
                <div class="adap_range1">
                    <div>办理须知</div>
                    <div>1、机动车信息变更业务只能办理机动车所有人的联系电话和邮寄地址的变更。<br>
                        2、如需申请变更其他信息（如变更身份证号码、姓名等）请前往无锡车管所咨询办理（咨询电话：96122,81188228）。<br>
                        3、请机动车所有人如实填写相关信息。凡提供虚假信息，需承担相应法律后果。
                    </div>
                </div>
                <a id="tiao" href="javascript:;">确定</a>
            </div>
        </div>

        <div class="ill_query first">
            <div class="query_box change_jsr" style="display: none">
                <div class="car_style">
                    <div>驾驶证号</div>
                    <input type="text" name="drivernum" id="car_number1" placeholder="请输入驾驶证号"/>
                </div>
                <div class="car_style">
                    <div>证芯编号<br><a class="where">(在哪里)</a></div>
                    <input type="text" name="driverpapers" placeholder="证芯编号后六位或档案编号后六位" id="car_fa1" class="car_where"/>
                    <p class="car_where_show" style="margin-left:25%; line-height: 22px;font-size: 0.8rem;">提醒:输入证芯编号或档案编号<span style="color:red;">后六位</span>！</p>
                </div>
                <a id="query1">下一步</a>
            </div>
            <div class="query_box change_jdc" style="display: none">
                <div class="car_style">
                    <div>车辆类型</div>
                    <select name="chcartype" style="border:solid 1px #dddddd !important;">
                        {loop $cartype $tiem}
                        <option value="{$tiem['carnum']}">{$tiem['cartype']}</option>
                        {/loop}
                    </select>
                </div>
                <div class="car_style">
                    <div>车牌号码</div>
                    <input type="text" name="chcarnum" id="car_number" />
                </div>
                <div class="car_style" style="border-bottom:none;">
                    <div style="width:100%;">机动车所有人身份证/组织机构代码证号</div>
                    <!--<input type="text" name="chcarpapers" placeholder="请输入身份证后六位或机构代码证前六位" id="car_fa" />-->
                </div>
                <div class="car_style" style="margin-top: -17px">

                    <input type="text" name="chcarpapers" placeholder="请输入身份证后六位或机构代码证前六位" id="car_fa" style="width: 89%; margin-left: 0;" class="num_where" />
                    <p class="num_where_show" style="margin-left:1%; line-height: 22px;font-size: 0.8rem;">提醒:输入身份证<span style="color:red;">后六位</span>或机构代码证<span style="color:red;">前六位！</span></p>

                </div>
                <a id="query">下一步</a>
            </div>
        </div>
    </div>

<script>
    $("#loading-fs").hide();
    $(function(){
        $('.car_where').focus(function(){
            $('.car_where_show').show();
            $(this).parent('.car_style').css('padding-bottom','25%');
        });
        $('.car_where').blur(function(){
            $(this).parent('.car_style').css('padding-bottom',0);
        });
        $('.num_where').focus(function(){
            $('.num_where_show').show();
            $(this).parent('.car_style').css('padding-bottom','25%');
        });
        $('.num_where').blur(function(){
            $(this).parent('.car_style').css('padding-bottom',0);
        });
        $('.driver').click(function(){
            $('.ill_tit').removeClass('ill_current');
            $(this).addClass('ill_current');
            $('.jdc').hide();
            $('.change_jsr').hide();
            $('.change_jdc').hide();
            $('.gg_driver').hide();
            $('.gg_drivercar').hide();
            $('.jsr').show();
            $('.first').show();
        });
        $('.car').click(function(){
            $('.ill_tit').removeClass('ill_current');
            $(this).addClass('ill_current');
            $('.change_jsr').hide();
            $('.change_jdc').hide();
            $('.gg_driver').hide();
            $('.gg_drivercar').hide();
            $('.jsr').hide();
            $('.jdc').show();
            $('.first').show();
        });

        $('#tiao1').click(function(){
            $('.jsr').hide();
            $('.change_jsr').show();
        });
        $('#tiao').click(function(){
            $('.jdc').hide();
            $('.change_jdc').show();
        });

        //驾驶人数据
        $('#query1').click(function(){
            var drivernum = $("[name = 'drivernum']").val();
            var driverpapers = $("[name = 'driverpapers']").val();
            reg = /^\d{6}(18|19|20)?\d{2}(0[1-9]|1[12])(0[1-9]|[12]\d|3[01])\d{3}(\d|X)$/i;
            if (drivernum == ''){
                mui.alert('驾驶证编号不能为空！');return false;
            }
            if (!reg.test(drivernum)){
                mui.alert('驾驶证编号不正确！');return false;
            }
            if (driverpapers == ''){
                mui.alert('证芯编号不能为空！');return false;
            }
            if (driverpapers.length != 6){
                mui.alert('证芯编号输入有误！');return false;
            }
            $("#loading-fs").show();
            $.post("{php echo $this->createMobileUrl('drivermanage')}",{'drivernum':drivernum,'driverpapers':driverpapers},function(data){
                //console.log(data);
                $("#loading-fs").hide();
                //mui.alert(data.State);return false;
                if(data.State == 0){
                    $('.first').hide();
                    $('.change').hide();
                    $('.gg_drivercar').hide();
                    $('.gg_driver').show();
                    $(".drname").text(data.XM);
                    $(".draddr").text(data.LXDZ);
                    $(".drphone").text(data.SJHM);
                    $(".drmobile").text(data.LXDH);
                }else if(data.State == 1){
                    mui.alert('查询失败,您输入的驾驶证或证芯编号不正确！');
                }else if(data.State == 2){
                    mui.alert('空记录！');
                }
                //0：成功、1：失败、2：空记录、3：未授权、4：无权限访问、5：非法参数
                //window.location.href = "{php echo $this->createMobileUrl('infochange',array('op' => 'subdata','block'=>'driver'))}&drivernum="+drivernum+"&driverpapers="+driverpapers;
            },'JSON');
        });
        //机动车信息
        $('#query').click(function(){
            var chcartype = $("[name = 'chcartype']").val();
            var chcarnum = $("[name = 'chcarnum']").val();
            var chcarpapers = $("[name = 'chcarpapers']").val();
            reg=/^[京津沪渝冀豫云辽黑湘皖鲁苏新浙赣鄂桂甘晋蒙陕吉闽贵粤青藏川宁琼使领]{1}[A-Za-z]{1}[A-Za-z0-9]{4}[A-Za-z0-9挂学警港澳]{1}$/;
            if (!reg.test(chcarnum)){
                mui.alert('请正确输入车牌号');return false;
            }
            if (chcarpapers == ''){
                mui.alert('证件号码不能为空！');return false;
            }
            if(chcarpapers.length != 6){
                mui.alert('证件号码输入有误！');return false;
            }
            $("#loading-fs").show();
            $.post("{php echo $this->createMobileUrl('carmanage')}",{'chcartype':chcartype,'chcarnum':chcarnum,'chcarpapers':chcarpapers},function(data){
                //console.log(data);
                $("#loading-fs").hide();
                if (data.State == 0){
                    $('.first').hide();
                    $('.change').hide();
                    $('.gg_drivercar').hide();
                    $('.gg_driver').show();
                    $(".drname").text(data.XM);
                    $(".draddr").text(data.LXDZ);
                    $(".drphone").text(data.SJHM);
                    $(".drmobile").text(data.LXDH);
                    //window.location.href = "{php echo $this->createMobileUrl('infochange',array('op' => 'subdata','block'=>'car'))}&chcartype="+chcartype+"&chcarnum="+chcarnum+"&chcarpapers="+chcarpapers;
                }else if(data.State == 1){
                    mui.alert('查询失败,您输入的车牌或证件号码不正确！');
                }else if(data.State == 2){
                    mui.alert('空记录！');
                }
            },'JSON');

        });

    });
</script>
<!--信息-驾驶人--车辆-->
        <div class="gg_driver" style="display:none;">
            <div class="info_change">
                <div class="change_box">
                    <div class="infor_box">
                        <div class="infor1">
                            <p>姓&nbsp;&nbsp;名:</p>
                            <p class="drname"></p>
                        </div>
                        <div class="infor1">
                            <p>固定电话:</p>
                            <p class="drmobile"></p>
                        </div>
                        <div class="infor1">
                            <p>移动电话:</p>
                            <p class="drphone"></p>
                        </div>
                        <div class="infor2">
                            <p>邮寄地址:</p>
                            <p class="draddr"></p>
                        </div>

                    </div>
                </div>
                <p class="infor_care">注：以上信息仅供核对使用</p>
                <div class="infor_btn">
                    <button class="myupdate">我要修改</button>
                    <button class="wuupdate">无需修改</button>
                </div>
            </div>
        </div>

    <script>
        $("#loading-fs").hide();
        $(function(){
            $('.myupdate').click(function(){
                $('.first').hide();
                $('.change').hide();
                $('.gg_driver').hide();
                $('.gg_drivercar').show();
            });
            $('.wuupdate').click(function(){
                window.location.href = "{php echo $this->createMobileUrldeM('wxjj','center')}";
            });
        });
    </script>
<!--信息更改-驾驶人-机动车-->
        <div class="content_box gg_drivercar" style="display: none">
            <div class="infor_change1">
                <p class="change1_care">如无需修改项目，请勿填写</p>
                <div class="change1_box">
                    <div class="change1">
                        <p class="number">新固定电话号码:<span>例如：0510-68818588</span></p>
                        <input id="number" type="number" placeholder="请输入您的新固定电话号码" name="lxdh">
                        <p class="number1">新移动电话号码:</p>
                        <input id="number1" type="number" placeholder="请输入您的新移动电话号码" name="sjhm">
                        <p class="add_p">新邮寄地址:</p>
                        <div class="address_box" id="showCityPicker">
                            <input id="province" value="" name="province" placeholder="请选择" style="margin-left:0;"/>
                            <input id="city" value="" name="city" placeholder="请选择" style="margin-left: 4.5%">
                            <input id="dist" value="" name="district" placeholder="请选择" style="margin-left: 4.5%">
                        </div>
                           <!-- <div class="mui-input-row">
                                <label>选择地区</label>
                                {php echo tpl_app_form_field_district('address', array('province' => $address['province'],'city' => $address['city'],'district' => $address['district']));}
                            </div>-->
                        <input id="address" type="text" placeholder="请填写详细街道门牌地址" name="xxdz">
                        <p class="change1_tip">如不在无锡地区居住请将驾驶证转至居住地车管所</p>
                    </div>
                </div>
                <button id="modify">我要修改</button>
            </div>
        </div>

    <script>
        (function($, doc) {
            $.init();
            $.ready(function() {
                var cityPicker = new $.PopPicker({
                    layer: 3
                });
                cityPicker.setData(cityData);
                var showCityPickerButton = doc.getElementById('showCityPicker');
                showCityPickerButton.addEventListener('tap', function(event) {
                    cityPicker.show(function(items) {
                        //console.log(items);
                        showCityPickerButton.value = items[0].text + '  ' + items[1].text + '  ' + items[2].text;
                        document.getElementById("province").value = items[0].text;
                        document.getElementById("city").value = items[1].text;
                        document.getElementById("dist").value = items[2].text;
                    });
                }, false);
            });
        })(mui, document);


        $("#loading-fs").hide();
        $(function(){
            $('#modify').click(function(){
                //驾驶证变更
                var drivernum = $("[name = 'drivernum']").val();
                var driverpapers = $("[name = 'driverpapers']").val();
                //车辆变更
                var chcartype = $("[name = 'chcartype']").val();
                var chcarnum = $("[name = 'chcarnum']").val();
                var chcarpapers = $("[name = 'chcarpapers']").val();
                //公共参数
                var lxdh = $("[name = 'lxdh']").val();
                var sjhm = $("[name = 'sjhm']").val();

                var province = $("[name = 'province']").val();
                var city = $("[name = 'city']").val();
                var district = $("[name = 'district']").val();
                var lsdz = province+city+district+$("[name = 'xxdz']").val();
                    //console.log(lsdz);return false;
                if(drivernum && driverpapers){
                    //alert(1);
                    $("#loading-fs").show();
                    $.post("{php echo $this->createMobileUrl('drpost')}",{'drivernum':drivernum,'driverpapers':driverpapers,'lxdh':lxdh,'sjhm':sjhm,'lsdz':lsdz},function(data){
                        //console.log(lxdh+'---'+sjhm+'----'+lsdz);return false;
                        //console.log(data);
                        $("#loading-fs").hide();
                        if (data.State == 0){
                            $('.content').hide();
                            $('.succeed').show();
                        }else if(data.State == 1){
                            mui.alert('修改失败');
                        }
                    },'JSON');
                }
                if(chcartype && chcarnum && chcarpapers){
                    $("#loading-fs").show();
                    $.post("{php echo $this->createMobileUrl('carpost')}",{'chcartype':chcartype,'chcarnum':chcarnum,'chcarpapers':chcarpapers,'lxdh':lxdh,'sjhm':sjhm,'lsdz':lsdz},function(data){
                        //console.log(data);
                        $("#loading-fs").hide();
                        if (data.State == 0){
                            $('.content').hide();
                            $('.succeed').show();
                        }else if(data.State == 1){
                            mui.alert('修改失败');
                        }
                    },'JSON');
                }
            });

            $('.where').click(function(){
                $('.acc_example').show();
            });
            $('.acc_example').click(function(){
                $(this).hide();
            });

        });
    </script>
<div id="loading-fs">
    <div><i id="loadanim"></i><span>提交数据中，请稍后 ...</span></div>
</div>
</div>
<div class="content_box succeed" style="display: none">
    <div class="appeal1_box">
        <i class="appeal_suc">&#xe60d;</i>
        <div>您的变更信息已经收到，我们将为您尽快处理。</div>
    </div>
    <a id="appeal_back" href="{php echo $this->createMobileUrl('infochange',array('op' => 'notice'))}">返回</a>
</div>
<div class="acc_example">
    <img src="{S_URL}img/zxbh.jpg">
</div>
</body>
</html>
