@charset "utf-8";
/* CSS Document */

body,div,ol,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,form,fieldset,legend,input,select,a,button,img{ margin:0; padding:0;-webkit-text-size-adjust:none;}
body{color:#3f3f3f; font-size:16px;}
*{font-family: "微软雅黑";-webkit-tap-highlight-color:rgba(0,0,0,0);}
/*首页*/
.content{position:fixed; top:0; left:0; background:url(../img/page1.png) no-repeat; background-size:100% 100%; width:100%; height:100%;display: none;}

.input_box{position:absolute; width:100%; top:43%; left:10.5%;}
.input_box p{font-family: "黑体";}
.input_box input{border:solid 3px #333333; width:70%; margin-top:4%; padding: 2.5%;font-size: 1rem;}

.radio-box{width: 84%;margin: 0 auto;overflow: hidden;display: -webkit-box;position: absolute;top: 57.9%;left: 10%;}
.radio-m-box{-webkit-box-flex: 1;  background-size:70%; line-height: 3rem;}
.radio-w-box{-webkit-box-flex: 1;  background-size: 70%; line-height: 3rem;}
.radio-m-box input,.radio-w-box input{display: none;}
.radio-m-box label,.radio-w-box label{background:url(../img/icon-off.png) no-repeat; background-size:contain;vertical-align: top;}
.radio-m-box label.checked,.radio-w-box label.checked{background:url(../img/icon-on.png) no-repeat; background-size:contain;vertical-align: top;}
.sexImg{width: 70%;padding-left: 17%;vertical-align: top;margin-top: 5%;}
#btn{display:block; width:80.8%; position:absolute; top:73%; left:9.6%;}
#btn img{width:100%;}

/*第二页*/
.page2{	position:fixed; top:0;left:0;background:url(../img/page2.png) no-repeat; background-size:100% 100%; width:100%; height:100%;display: none;}
.save_box{width:100%; position:absolute; top:8%;margin:0 auto;}
.save_box img{width:100%;}
.shareTitle{width: 60%; background-color: #333333; color: #f6d403; margin: 0 auto;padding: 0.6%; text-align: center;}
.cont_box{position:absolute; top:14%; left: 2.5%; width:95%;}
.bg_area{width:100%;}
.bg_area img{ max-width:100%;}
.cont_area{width:100%;}
.mask{position: absolute;top:0%;left:0%;width:100%;height:100%;background-color:rgba(0,0,0,.7);}
.troubleDiv{width:100%;height:100%;position: absolute;top:0;left:0;}
.troubleDiv img{width:100%;}
/*男1*/
.nan1_box {width:100%; margin-top:-83%;}
.nan1_box img {display:block; max-width:100%;}
.nan1_box div:nth-child(1) {width:100%;}
.nan1_box div:nth-child(2) {width: 100%;margin-top: -14%;margin-left: 0;}
.nan1_box div:nth-child(3){margin-top:-52%; font-size:1.2rem; margin-left:12%; font-weight:bold;}
/*.nan1_box span{font-size:1rem;position:margin-top:30%;margin-left:20%;}*/

.page2_btn{width:100%; position:absolute; top:67%;}
.page2_btn img{width:100%;}
.share{width:37%;float:right; margin-right:7.8%;}
.again{width:37%;float:left; margin-left:7.8%;}

.know_box{width:85%; position:absolute; top:79%;}
.realize{width:83.7%; margin-left:8.15%;}
.know_box img{width:100%;}
/*第三页*/
.page3{	position:fixed; top:0;left:0;background:url(../img/page2.png) no-repeat; background-size:100% 100%; width:100%; height:100%;display: block;}
.save2_box{width:100%; position:absolute; top:8%;margin:0 auto;}
.save2_box img{width:100%;}
.play{width:83.7%;margin-left:8.15%;}
.about{width:83.7%; margin-left:8.15%;}
.page3_btn{width:85%; position:absolute; top:66%;}
.page3_btn img{width:100%;}

/*****第四页******/
.page4{	position:fixed; top:0;left:0;background:url(../img/bg3.png) no-repeat; background-size:100% 100%; width:100%; height:100%;display: none;}
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){
    .sexImg{margin-top: 8%;}
}