@charset "utf-8";
/* CSS Document */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body,h1,h2,h3,h4,input,ul,li,dl,dt,dd,p,button,img{margin:0;padding:0; list-style:none;font-weight:normal;}
body{background-color:white; font-size:16px; color:#333333;}
.content{width:100%; height:100%;}
.content_box{width:100%;}
a{text-decoration: none}

@font-face {
  font-family: 'iconfont';  /* project id 202971 */
  src: url('http://at.alicdn.com/t/font_d8zz26i2cjfko6r.eot');
  src: url('http://at.alicdn.com/t/font_d8zz26i2cjfko6r.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_d8zz26i2cjfko6r.woff') format('woff'),
  url('http://at.alicdn.com/t/font_d8zz26i2cjfko6r.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_d8zz26i2cjfko6r.svg#iconfont') format('svg');
}

/*交管新鲜事*/
.content_head{width:100%; border-bottom:solid 1px #b2b2b2; padding-bottom:2.6%;}
.notice_tit{text-align:center; margin:0 auto; margin-top:8%; font-size:1.1rem; width:80%;}
.notice_time{margin-top:3%; margin-left:5.3%;}
.notice_banner{width:95%; margin-left:2.5%; margin-top:4.3%;}
.notice_banner img{display:block; max-width:100%; }
.notice{width:95%; margin-top:4%; margin-left:2.5%; font-size:0.9rem;}
.notice span{display:inline-block; margin-left:2%;}
.notice div{margin-top:5px;}

.fresh_banner{width:100%;}
.fresh_banner img{width:100%;}
.service{width:100%;}
.service_box{width:91.2%; margin:0 auto; border:dotted 1px #b3b3b3; border-radius:10px; padding-left:4%; padding-top:4.5%; padding-bottom:4.5%; margin-top:5.3%;}
.service_box div:nth-child(1){font-size:1.1rem;}
.service_box div:nth-child(2),.service_box div:nth-child(3){color:#999999; font-size:0.9rem; margin-top:2%;}

/*违法查询*/
.ill_head{width:100%; display:-webkit-box; border-bottom:solid 2px #dddddd; background-color:white;}
.illegal{-webkit-box-flex:1; width:50%; text-align:center; height:45px; line-height:45px;}
.illegal:nth-child(1){border-right:solid 2px #dddddd;}
.illegal div{ width:63%; margin:0 auto; font-size:1rem;}
.ill_current{border-bottom:solid 2px #2ecc71; color:#2ecc71;}

/*违法查询*/
.driv_box{margin-top:8%;width:100%;}
.illegal_box{margin-top:5%;}
.ill_score{height:45px;width:100%; padding-left:4%; line-height:45px; border-bottom: solid 1px #dddddd;}
.ill_score div:nth-child(1){float:left;}
.ill_score div:nth-child(2){float:right; margin-right:4%; text-align: right; width:20%;}
/*新加违法查询*/
.driv_info{width:100%;/*height:25px;*/ padding-top:7%; text-align: center; color:#3cca74; overflow: hidden;padding-left:4%; }
.driv_box{margin-top:8%;width:100%; background-color:white;}
.illegal_box{margin-top:5%;}
.ill_score{height:45px;width:100%; padding-left:4%; line-height:45px; border-bottom: solid 1px #dddddd;}
.ill_score div:nth-child(1){float:left;}
.ill_score div:nth-child(2){float:right; margin-right:4%; text-align: right; width:29%;}
/*车辆违法查询*/
.ill_query{width:100%;}
.query_box{width:100%;}
.car_style{width:100%; padding-left:5.3%; height:53px; line-height:49px; overflow:hidden; border-bottom:solid 1px #eeeeee;}
.car_style div{float:left; width:22%;}
.car_style select{margin-left:3%; padding-left:3%; -webkit-appearance:none; width:43%; border:solid 1px #dddddd; border-radius:8px; padding-top:2%; padding-bottom:2%; background:url(../img/trian.png) no-repeat 90% center; background-size:9%;}
#car_number,#car_fa ,#car_number1,#car_fa1{margin-left:3%; padding-left:3%; width:45%; font-size:0.6rem; border:solid 1px #dddddd; border-radius:8px; padding-top:2.5%; padding-bottom:2%;}
.car_style:nth-child(3) a ,.where{display:block; margin-top:-33px; font-size:0.6rem; text-align:center; color:#2ecc71;}
.car_style:nth-child(1){margin-top:4%;}
#query ,#query1{display:block; width:40%; margin:0 auto; margin-top:18.6%; text-align:center; background-color:#2ecc71; border-radius:8px; padding-top:3%; padding-bottom:3%; color:white;}
#query1{margin-top:30%;}
.query_word1{color:#999999; text-align:center; font-size:0.8rem; margin-top:14%;}
.query_word2 ,.query_word3 {color:#2ecc71; text-align:center; font-size:0.8rem; margin-top:1%;}
.query_word3{margin-top:18.6%;}

.license{width:100%; overflow:hidden; border-bottom:solid 1px #dddddd; background-color:white; padding-top:3%; padding-bottom:3%;}
.licen_img{float:left; width:29%; margin-left:12.7%;}
.licen_img div{color:white; margin-top:-27%; width:100%; text-align:center;}
.licen_mon{float:right; font-size:0.8rem; margin-right:12.7%; line-height:1.2rem;}
.licen_img img{width:100%;}
.licen_mon span{color:#2ecc71;}


.query_info{background-color:white; width:100%; border-top:solid 1px #dddddd; border-bottom:solid 1px #dddddd; font-size:0.9rem;}
.query_info1{overflow:hidden; padding-top:2.6%; padding-bottom:2.6%;}
.arrow_left{float:left; width:4%; margin-left:4%;}
.info_right{float:left; color:#999999; margin-left:4%; width:83%; line-height:1.4rem;}
.arrow_left img{width:100%;}
.info_right a{color:#2ecc71; text-decoration: none}
.info_right span {/*display:inline-block;*/ margin-left:2%;}
.info_detail{background-color:#eefbf3; width:100%;}
.detail_box{width:85%; line-height:1.5rem; margin:0 auto; font-size:0.9rem; padding-top:14px; padding-bottom:14px;}
.detail_box span{padding-left:2%;}
.hide{display:none;}
.query_word4{background-color:white; margin-bottom:20%; font-size:0.9rem; color:#2ecc71; text-align:center; height:60px; line-height:60px;}
.shensu{background: none;border:none;color:#2ecc71;}

.binding{width:100%; position:fixed; bottom:0; left:0; }
.binding_box{position:relative;padding-top:3%; padding-bottom:3%; overflow:hidden; width:100%; background-color:#5f5f5f; color:white;}
.plus{float:left; margin-top:0.5%; margin-left:4%; font-family:"iconfont" !important; color:white; font-size:16px;font-style:normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale;}
.close i{float:right; margin-right:4%; font-family:"iconfont" !important; color:white; font-size:16px;font-style:normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale;}
.binding_box div:nth-child(2){float:left; margin-left:6.7%;}


/*申诉信息填写*/
.appeal_box{margin-left:4%;}
.appeal_name div ,.appeal_phone div ,.appeal_why div{margin-top:5%;}
.appeal_name input,.appeal_phone input{width:92%; margin-top:3%; padding-left:3%; border:solid 1px #b3b3b3; border-radius:10px; padding-top:2.6%; padding-bottom:2.6%;}
.appeal_why textarea{width:92%; margin-top:3%; padding-left:3%; padding-top:2%; border-radius:10px;border:solid 1px #b3b3b3; resize:none; height:170px;}
#appeal_sub ,#appeal_back ,.picture_btn{display:block; width:40%; margin:0 auto; margin-top:8%; text-align:center; background-color:#2ecc71; border-radius:8px; padding-top:3%; padding-bottom:3%; color:white; }

.appeal1_box{width:100%;}
.appeal_suc{ display:block; font-family:"iconfont" !important; text-align:center; margin:0 auto; margin-top:20%; color:#2ecc71; font-size:80px;font-style:normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale;}
.appeal1_box div{text-align:center; font-size:0.9rem; width:85%; margin:0 auto;  margin-top:11%;}
#appeal_back{margin-top:33.3%;}

/*交通违法随手拍*/
.picture_banner{width:100%;}
.picture_banner img{width:100%;}
.picture_tip{width:88%; margin:0 auto; margin-top:10px; font-size:0.8rem; line-height:1.1rem;}
.upload_img{width:100%; padding-left:5%; margin-top:5%; overflow:hidden;}
.upload1{width:66px; float:left; margin-left:3%;height:66px; line-height:61px; border:solid 2px #dddddd;}
.upload1 i{color:#afaeab; display:block; text-align:center; font-size:30px;  font-family:"iconfont" !important; font-style:normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale;}
.upload_tip{font-size:0.8rem; text-align:center; margin:0 auto; width:82%; margin-top:4%;}
.pict_intro{width:80%; border-radius:10px; padding-left:3%; padding-top:2%;height:100px; margin-top:10%; margin-left:10%; border:solid 1px #b3b3b3; resize:none;}
.picture_btn{margin-bottom:5%;}


/*加载*/
#loading-fs{position: fixed; display:none; z-index:999;
    top: 40%;
    left: 0;
    width: 100%;}
#loading-fs > div{    background: rgba(0,0,0,.8);
    padding: 40px 0;
    width: 46%;
    margin: 0 auto;
    border-radius: 5px;
    color: #fff;
    font-size: .8em;
    text-align: center;}
#loadanim {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(../img/loading.png) no-repeat;
    vertical-align: -3px;
    margin-right: 5px;
    -webkit-animation: loading .8s linear infinite;
    -moz-animation: loading 0.8s linear infinite;
    -o-animation: loading 0.8s linear infinite;
    animation: loading 0.8s linear infinite;
}
@-webkit-keyframes loading{
    0%{-webkit-transform:rotate(0deg);}	100%{-webkit-transform:rotate(360deg);}}
@-moz-keyframes loading{
    0%{-moz-transform:rotate(0deg);}  	100%{-moz-transform:rotate(360deg);}}
@-o-keyframes loading{
    0%{-o-transform:rotate(0deg);}	100%{-o-transform:rotate(360deg);}}
@keyframes loading{
    0%{transform:rotate(0deg);}	100%{transform:rotate(360deg);}}


@media (device-height:480px) and (-webkit-min-device-pixel-ratio:2){  /* 兼容iphone4/4s */
    .illegal div{width:70%;}
}
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){  /* 兼容iphone5 */
    .illegal div{width:70%;}
}
@media (device-width:375px) and (-webkit-min-device-pixel-ratio:2){   /* 兼容iphone 6 */
    .class{}
}
@media (device-width:414px) and (-webkit-min-device-pixel-ratio:3.0){  /* 兼容iphone6 plus */
    .class{}
}
@media (min-width:359px) and (max-width:361px){

	}

