<!DOCTYPE html>
<html lang="zh-cn" class="no-js">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Type">
<meta charset="utf-8">
<title>梦想之路，你我同行</title>		
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!--<link rel="stylesheet" type="text/css" href="css/reset.css">-->
<link rel="stylesheet" type="text/css" href="{S_URL}css/animations.css">
<link rel="stylesheet" type="text/css" href="{S_URL}css/layout.css">
<link rel="stylesheet" type="text/css" href="{S_URL}css/page.css">
<style>
</style>
<script>
    document.write('<div id="page-hd"><div style="width:100%; height:10.08rem; position:fixed; top:0; left:0; /*z-index:1111;*/ background-color:#fff;"></div></div>')
</script>
<script>
// function addLoadEvent(func) {
// 	var oldonload = window.onload;
// 	if (typeof window.onload != 'function') {
//         window.onload = func;
// 	} else {
// 	    window.onload = function() {
// 		  if (oldonload) {
// 	           oldonload();
// 	        }
// 	        func();
// 	    }
// 	}
// }
// addLoadEvent(function() {
//     document.getElementById('page-hd').style.display = 'none';
//     var plane = document.getElementById('plane');
//     plane.className += ' loaded';
// });
if (document.images) {
    var img = new Image();
    img.src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/bg1_v3_nt.jpg";
}
</script>
</head>
<body>

<style>
.loaded{-webkit-animation:plane 5s infinite linear;}
.music{position: absolute; z-index: 99; right:0.2rem; }
.music img {width:0.58rem;  height:0.58rem;}
.zhuan1{-webkit-animation:spin 5s linear infinite; }
#yinp{width:0.58rem;  height:0.58rem;}
@-webkit-keyframes spin{
   from{transform:rotate(0deg);}
   to{transform:rotate(360deg);}
}
</style>
<audio loop id="yinp" src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/2.mp3" preload="preload"  ></audio>
<div class="music">
    <img src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/music.png" class="zhuan1" />
</div>

<div id="page-content">
	<div {if $_GPC['page'] == 6} class="page page-1 hide" {else} class="page page-1 page-current" {/if}>
        <div class="page1_box" id="page-1">
            <img class="cloud1" src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/cloud1.png">
                <img class="cloud2" src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/cloud2.png">
                <img class="cloud3" src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/cloud3.png">
                <div class="plane_father"><img id="plane" class="plane" src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/plane.png"></div>
                <img class="plane_icon1" src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/icon1.png">
                <img class="plane_icon2" src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/icon2.png">
                <img class="plane_icon3" src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/icon3.png">
                <img class="plane_icon4" src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/icon4.png">
                <img class="plane_icon5" src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/icon5.png">
                <img class="plane_icon6" src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/icon6.png">
                <img class="plane_icon7" src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/icon7.png">
                <img class="plane_icon8" src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/icon8.png">
                <img class="plane_icon9" src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/icon9.png">
                <img class="plane_icon10" src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/icon10.png">
            	<div class="year_box"><img class="year_icon" src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/year_v2_nt.png"></div>
            </div>
        <img src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/icon_up.png" alt="" class="arrow-up pt-page-moveIconUp">
    </div>
	    <div class="page page-2 hide">
            <div class="page2_box">
                <img class="cloud4" src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/cloud4.png">
                <img class="icon11" src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/icon11.png">
                <img class="icon12" src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/icon12.png">
                <img class="icon13" src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/icon13.png">
            </div>
        <img src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/icon_up.png" alt="" class="arrow-up pt-page-moveIconUp">
    </div>
	<div class="page page-3 hide">
        <div class="page3_box">
                <img class="cloud6" src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/cloud6.png">
                <!-- <img class="pb" src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/pb.png"> -->
                <img class="icon14" src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/icon14.png">
                <img class="icon15" src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/icon15.png">
        </div>
        <img src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/icon_up.png" alt="" class="arrow-up pt-page-moveIconUp">
    </div>
	<div class="page page-4 hide">
        <div class="page4_box">
            <img class="cycle" src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/cycle.png">
            <img class="cloud7" src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/cloud7.png">
            <img class="icon16" src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/icon16.png">
            <img class="icon17" src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/icon17.png">
            <img class="icon20" src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/icon20.png">
        </div>
        <img src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/icon_up.png" alt="" class="arrow-up pt-page-moveIconUp">
    </div>
	<div class="page page-5 hide">
        <div class="page5_box">
            <img class="cloud5" src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/cloud5.png">
            <!-- <img class="xing" src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/xing.png"> -->
            <img class="icon18" src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/icon18.png">
            <img class="icon19" src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/icon19.png">
        </div>
        <img src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/icon_up.png" alt="" class="arrow-up pt-page-moveIconUp">
    </div>
    {if !$was_message || $_GPC['page']}
    <div {if $_GPC['page'] == 6} class="page page-6 page-current" {else} class="page page-6 hide" {/if}>
        <div class="page6_box">
<!--         	<img class="logo" src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/logo.png">
         	<img class="word" src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/word.png">
-->
            <input type="number" id="page6_txt" placeholder="输入人力资源号">
            <button class="page6_btn"></button>
<!--            <img class="word1" src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/word1.png">
-->        </div>
        <!--弹框-->
        <img id="tk" src="http://oisj37y62.bkt.clouddn.com/img_njbank_16/tk.png" style="display:none;">
    </div>
    {/if}
</div>
<div id="page-ft"></div>
<script src="{S_URL}js/reset.js"></script>
<script type="text/javascript" src="{S_URL}js/zepto.min.js"></script>
<script type="text/javascript" src="{S_URL}js/touch.js"></script>
<script type="text/javascript" src="{S_URL}js/index.js"></script>
<script type="text/javascript">
    {if $was_message}
    $(".page-5").on('swipeUp', function() {
        $("body").append("<div style='z-index:999;background:rgba(0,0,0,0);width:100%;height:100%;position:absolute;'><div style='width:125px;height:40px;position:relative;top:50%;margin-top:-20px;left:50%;margin-left:-62.5px;background:rgba(0,0,0,.4);font-size:0.25rem;line-height:40px;text-align:center;border-radius:4px;'>跳转中...</div></div>");
        location.href = "{php echo $this->createMobileUrl('image', array('op' => 'share', 'id' => $was_message['staffid']))}";
    });
    {/if}
</script>
<script>
    document.addEventListener("WeixinJSBridgeReady", function () { 
        document.getElementById("yinp").play();
    }, false);
    document.getElementById('page-hd').style.display = 'none';
    var plane = document.getElementById('plane');
    plane.className += ' loaded';

    $('.music').click(function(){
        if($('.music img').hasClass('zhuan1')){
            $('.music img').removeClass('zhuan1');
            document.getElementById('yinp').pause();
        }else{
            $('.music img').addClass('zhuan1');
            document.getElementById("yinp").play();
        }
    })
</script>
<script type="text/javascript">
    $(".page6_btn").click(function() {
       	var number = $('#page6_txt').val();
     	$.getJSON("{php echo $this->createMobileUrl('entry', array('op' => 'check'))}", {number: number}, function(msg) {
			if (msg.status) {
				window.location.href = "{php echo $this->createMobileUrl('image')}&id=" + msg.id;
			} else {
				$('#tk').show();
    			setTimeout(function(){
    			  	$('#tk').hide();
    			}, 1500);
            }
        });
    });
</script>
{template 'wxsdk'}
<script type="text/javascript">
    wx.ready(function(){
        _title = '“梦想之路，你我同行”，兴业银行南通分行七年';
        _link = "{$_W['siteroot']}app/index.php?i={$_W['uniacid']}&c=entry&do=entry&m=viva_xyyh";
        _desc = '';
        _imgUrl = 'http://oisj37y62.bkt.clouddn.com/img_njbank_16/share.jpeg';
        //朋友圈
        wx.onMenuShareTimeline({
            title: _title,
            link: _link,
            imgUrl: _imgUrl,
            success: function () {}
        });
        //转发好友
        wx.onMenuShareAppMessage({
            title: _title,
            link: _link,
            desc: _desc,
            imgUrl: _imgUrl,
            success: function () {}
        });
    });
</script>
<div style="display: none"><script src="https://s11.cnzz.com/z_stat.php?id=1261140994&web_id=1261140994" language="JavaScript"></script></div>
</body>
<script type="text/javascript" src="{S_URL}js/jquery-1.8.3.min.js"></script>

<script>
var H;
H = $('body').innerHeight();
h = 0.425*H;
$('.year_box').css('padding-top',''+h+'px')
</script>
</html>