body,div,ol,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,form,fieldset,legend,input,select,a,button,img{ margin:0; padding:0;}
html {  width:100%; height: 100%; outline: 0; box-sizing:border-box; -webkit-text-size-adjust:none;}
body {  width:100%; height: 100%; margin: 0;padding: 0;  -webkit-user-select: none;border: 0;overflow: hidden;}
*{font-family: "微软雅黑";-webkit-tap-highlight-color:rgba(0,0,0,0);}
div,section{display: block;}
a{text-decoration:none;}
img{border: 0;display: block;}
@font-face {
    font-family: 'iconfont';  /* project id 216440 */
    src: url('//at.alicdn.com/t/font_ap6hixau9za1yvi.eot');
    src: url('//at.alicdn.com/t/font_ap6hixau9za1yvi.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_ap6hixau9za1yvi.woff') format('woff'),
    url('//at.alicdn.com/t/font_ap6hixau9za1yvi.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_ap6hixau9za1yvi.svg#iconfont') format('svg');
}

@font-face {
    font-family: 'scienfont';  /* project id 217180 */
    src: url('//at.alicdn.com/t/font_ssr9voe3qqzd7vi.eot');
    src: url('//at.alicdn.com/t/font_ssr9voe3qqzd7vi.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_ssr9voe3qqzd7vi.woff') format('woff'),
    url('//at.alicdn.com/t/font_ssr9voe3qqzd7vi.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_ssr9voe3qqzd7vi.svg#iconfont') format('svg');
}

.circlediv{
	width:100%;
	margin:0 auto;
	position:relative;
}
.circle{
	position:absolute;
	top: -16%;
	left: -15%;
	width:100%;
	-webkit-animation: rotate1 2s linear infinite;
}
.circlediv a{
	width: 70%;
	display: block;
}	

.circle img{
	width:100%;
}

.footer-icon i{
    font-family:"scienfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.circlediv{
	position: relative;
}
.mucDiv{
	width: 8%;
    height: 8%;
    position: absolute;
    right: 5%;
    top: 12%;
    z-index: 1;
}
.mucDiv img{
	width: 100%;
	background-size: cover;
}
.user_id{
	margin-left: 5%;
}
.user_num{
	margin-left: 20%;
}	
.user_choice2{
	margin-left: 18%;
}
.label-1{
	width: 20px;
	height: 20px;
	background: url(../img5/choice2-icon.png) no-repeat;
	display: inline;
	background-size: 20px 20px;
}
.checkbox-input{display: none;}
.checkbox-input:checked + label{background: url(../img5/choice-icon.png) no-repeat; background-size:20px 20px; width:20px; height: 20px;}
/********************************************************/
.first_info div{
    -webkit-box-flex: 1;
}
.user_num{
    color: #d0a306;
}
/***************************************************************************/
.wrapper1{
    width: 100%;
    height: 100%;
    background: url(../img5/bg2.png) no-repeat top center;
    background-size: cover;
}
.logoDiv{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 91%;
}
.logoDiv img{
    width: 35%;
    background-size: cover;
    margin: 0 auto;
}
.title1Div{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 5%;
}
.title1Div img{
    width: 54%;
    background-size: cover;
    margin: 0 auto;
}
.title2Div{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    /* margin-top: 3%;*/
}
.title2Div img{
    width: 90%;
    background-size: cover;
    margin: 0 auto;
    animation-iteration-count:1;
    animation: 2s title2 0s normal;
}
@keyframes title2{
    0%{width:40%;}
    100%{width:90%;}
}
@-webkit-keyframes title2{
    0%{width:40%;}
    100%{width:90%;}
}
@-moz-keyframes title2{
    0%{width:40%;}
    100%{width:90%;}
}

@-webkit-keyframes rotate1{
	0%{transform:rotate(0);}
	100%{transform: rotate(360deg);}
}

.voteDiv{
    width: 25%;
    /*margin: 0 auto;
    text-align: center;
    margin-top:5%;
    position: absolute;
    top: 45%;
    z-index: 2;*/
    margin: 0 auto;
    
    position: absolute;
 
    left: 41%;
    top: 50%;
}
.voteDiv img{
    width: 100%;
    background-size: cover;
    margin: 0 auto;
}
.sunnyDiv{
    position: absolute;
    width: 100%;
}
.sunnyDiv img{
    width: 100%;
    height: 100%;
    background-size:cover ;
    animation: sunny 5s ease-in-out 0s infinite;
    -webkit-animation:sunny 5s ease-in-out 0s infinite;
    -moz-animation:sunny 5s ease-in-out 0s infinite;
    transform-origin:50% 0 ;
    -webkit-transform-origin: 50% 0;
}
@keyframes sunny{
    0%{-webkit-transform: rotate(0);}
    10%{-webkit-transform: rotate(1deg);}
    30%{-webkit-transform: rotate(0deg);}
    50%{-webkit-transform: rotate(1deg);}
    70%{-webkit-transform: rotate(0deg);}
    90%{-webkit-transform: rotate(1deg);}
    100%{-webkit-transform: rotate(0);}
}
@-webkit-keyframes sunny{
    0%{-webkit-transform: rotate(0);}
    10%{-webkit-transform: rotate(1deg);}
    30%{-webkit-transform: rotate(0deg);}
    50%{-webkit-transform: rotate(1deg);}
    70%{-webkit-transform: rotate(0deg);}
    90%{-webkit-transform: rotate(1deg);}
    100%{-webkit-transform: rotate(0);}
}
.ribbonDiv{
    position:absolute;
    width: 100%;
    height: 100%;
}
.ribbonDiv img{
    width: 100%;
    height: 100%;
    background-size: cover;
    animation: 3s opacity2 0s infinite;
    -webkit-animation: 3s opacity2 0s infinite;
    -moz-animation: 3s opacity2 0s infinite;
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    -moz-animation-iteration-count:1;
}
@keyframes opacity2{
    0%{opacity:0}
    50%{opacity:.7;}
    100%{opacity:1;}
}
@-webkit-keyframes opacity2{
    0%{opacity:0}
    50%{opacity:.7;}
    100%{opacity:1;}
}
@-moz-keyframes opacity2{
    0%{opacity:0}
    50%{opacity:.7;}
    100%{opacity:1;}
}
.ruleImg{
    width: 25%;
    background-size: cover;
    position: absolute;
    top: 3%;
    left: 70%;
    z-index: 3;
}
@keyframes myrule{
    from{left:0;}
    to{left:70px;}
}
@-webkit-keyframes myrule{
    from{left:0;}
    to{left:70px;}
}
.mask{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    display: block;
    z-index: 9999;
}
.ruleContent{
    width: 100%;
    height:40%;
    background: url(http://oisj37y62.bkt.clouddn.com/xytp_v2/rulebg.png) no-repeat top center;
    background-size: 100% 90%;
    position: absolute;
    top: 30%;
}
#ruleclose{
    width: 6%;
    position: absolute;
    left: 88%;
    top: 10%;
}
.partInContent{
    width: 100%;
    height: 28%;
    background: url(http://oisj37y62.bkt.clouddn.com/xytp_v2/wicket1.png) no-repeat top center;
    background-size: cover;
    position: absolute;
    top: 34%;
}
#partInclose{
    width: 6%;
    position: absolute;
    left: 83%;
    top: 4%;
}
.ruleTxt{
    padding-top: 17%;
    width: 83%;
    margin: 0 auto;
    line-height: 1.5rem;
}
.partInTxt{
    padding-top: 7%;
    width: 83%;
    margin: 0 auto;
    line-height: 2rem;
    font-size: 1.2rem;
}
.partInTxt p{
    text-align: center;
    color: #44341c;
}
.partInTxt span{
    text-align: center;
    color: #e60012;
}
.ruleTxt p{
    color: #FFFFFF;
}
.ruleTxt span{
    color: #fffc00;
}
/********************************************************/
.wrapper2{
    width: 100%;
    height: 100%;
    background: url(../img/vote2-bg.png) no-repeat top center;
    background-size: cover;
    overflow-y: auto;
}
form{
    width: 100%;
}
.content{
    width: 90%;
    /*height: 100%;*/
    margin: 0 auto;
}
.secarchDiv{
    padding-top: 10%;
}
.secarchInput{
    width: 55%;
    height: 46px;
    color: #777777;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0,0,0,.2);
    border: none;
    padding-left: 9%;
    position: relative;
    left: -5%;
}
.btnInput{
    width: 25%;
    height: 46px;
    color: #ffffff;
    border-radius: 15px;
    background-color: #d0a306;
    box-shadow: 3px 3px 5px rgba(0,0,0,.2);
    border: none;
    text-align: center;
    float: right;
    line-height: 3rem;
    display:inline;
}




.secarch-icon{
    font-family: "iconfont" !important;
    font-size: 24px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    color: #777777;
    position: relative;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 3%;
    left: 4%;
    z-index: 10;
}
.item{
    width: 100%;
    margin-top: 6%;
    padding-bottom:10%;
    /* position: relative; */
}
.list{
    width: 100%;
    background-color: #FFFFFF;
    border: none;
    box-shadow: 3px 3px 5px rgba(0,0,0,.2);
    border-radius: 15px;
    padding-top: 5%;
    margin-top: 5%;
}
.choice1-icon{
    font-family: "iconfont" !important;
    font-size: 26px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    color: #d0a306;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    margin-top: 8%;
    margin-left: 5%;
}
.submit{
    width: 20%;
    position: absolute;
    top: 78%;
    left: 75%;
    z-index: 100;
}
.submit img{
    width: 100%;
    background-size: cover;
    float: right;

}
.list img{
    width: 20%;
    border-radius: 100%;
    display: block;
    float: left;
}
.name{
    position: absolute;
    top: 18%;
    left: 29%;
}
.name span{
    color: #777777;
}
.sum{
    position: absolute;
    top: 19%;
    left: 55%;
}
.leave{
    width: 90%;
    margin: 0 auto;
    padding: 4% 0;
    font-size: 1rem;
    white-space: normal;
    word-break: break-word;
}
.list-title{
    overflow: hidden;
}

.rank1{/*padding-top:1.1rem;*/ margin-left:0.22rem; overflow-y: auto; max-height:9rem; position:absolute; top:1.1rem;}
.rank_f{
    width:100%;
    background-color: #faf9f9;
    box-shadow: 0 5px 9px rgba(0,0,0,0.1);
    border-radius: 15px;
    margin-top: 7%;
    margin-bottom: 5%;
    overflow: hidden;
}
.rank_f:last-child{margin-bottom:70px}
.first_info{
	width: 100%;
    overflow: hidden;
    /* padding-bottom: 8px; */
    text-align: center;
    padding: 4% 0;
    display: -webkit-box;
    border-bottom: 1px solid #ccc;
}
.rank_head{
    margin-left: 5%;
    margin-top: 5%;
    width: 15%;
    border-radius: 100%;
    /* height: 0.42rem; */
    display: block;
    float: left;
}
.rank_name{
    margin-top: 6%;
    margin-left: 2%;
    font-size: .9rem;
    float: left;
    line-height: 1.3rem;
}
.rank_name span{
    color: #777777;
}
.rank_num{
    width: 31%;
    margin-top: 6%;
    padding-right: 4%;
    font-size: .9rem;
    float: right;
    color: #d0a306;
    text-align: center;
    line-height: 1.5rem;
}
.rank_num img{
    width: 30%;
    margin: 0 auto;
    background-size: cover;
}
.rank_rank{
    margin-left: 7%;
    margin-top: 8%;
    float: left;
}
.rank_rank img{
    width: 60%;
    background-size: cover;
}
/*底部导航条*/
.footer_nav{position:fixed; bottom:0; left:0; width:100%;height:7%;background: url(http://oisj37y62.bkt.clouddn.com/xytp_v2/bottombg.png)no-repeat top center;background-size: cover; z-index:998;}
.nav1 ,.nav2 ,.nav3{overflow:hidden; float:left; width:33%; font-size:0.8rem; line-height:3rem;color:#d0a306;text-align:center}
.nav1 img {
    display: block;
    margin-top: 8%;
    margin-left: 18%;
    float: left;
    width: 17%;
}
.nav2 img{
    display: block;
    float: left;
    margin-top: 8%;
    margin-left: 16%;
    width: 17%;
}
.nav3 img{
    display:block;
    float:left;
    margin-top:8%;
    margin-left:10%;
    width:17%;
}
@media (min-width:318px) and (max-width:323px) {
    .nav1 ,.nav2 ,.nav3{overflow:hidden; float:left; width:33%; font-size:0.8rem; line-height:2.5rem;}
    .rank_name{font-size: .8rem;}.rank_num{font-size: .7rem;width: 24%;}.rank_rank img{width: 43%;}
    .ruleTxt{font-size:0.8rem;line-height:1rem;}.item{height:29rem;}
    .user_choice input[type=checkbox]:checked + label:after {margin-left: -160%;}
    .secarchInput{left: -6%;}.check-icon{margin-left: 16%;}
}
@media (min-width:358px) and (max-width:362px) {
    .nav1 ,.nav2 ,.nav3{overflow:hidden; float:left; width:33%; font-size:0.8rem; line-height:2.5rem;}
    .rank_name{font-size: .8rem;}.rank_num{font-size: .8rem;}.rank_rank img{width: 43%;}
    .ruleTxt{font-size:0.8rem;line-height:1rem;}
}
@media (min-width:370px) and (max-width:378px) {
    .ruleTxt{font-size: 0.8rem;}.item{height:34rem;}.rank_num{width: 28%;}
}



/*加载*/
#loading-fs{position: fixed; display:none; z-index:999;
    top: 40%;
    left: 0;
    width: 100%;}
#loading-fs > div{    background: rgba(0,0,0,.8);
    padding: 40px 0;
    width: 46%;
    margin: 0 auto;
    border-radius: 5px;
    color: #fff;
    font-size: .8em;
    text-align: center;}
#loadanim {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(http://oisj37y62.bkt.clouddn.com/xytp_v2/loading.png) no-repeat;
    vertical-align: -3px;
    margin-right: 5px;
    -webkit-animation: loading .8s linear infinite;
    -moz-animation: loading 0.8s linear infinite;
    -o-animation: loading 0.8s linear infinite;
    animation: loading 0.8s linear infinite;
}
@-webkit-keyframes loading{
    0%{-webkit-transform:rotate(0deg);}	100%{-webkit-transform:rotate(360deg);}}
@-moz-keyframes loading{
    0%{-moz-transform:rotate(0deg);}  	100%{-moz-transform:rotate(360deg);}}
@-o-keyframes loading{
    0%{-o-transform:rotate(0deg);}	100%{-o-transform:rotate(360deg);}}
@keyframes loading{
    0%{transform:rotate(0deg);}	100%{transform:rotate(360deg);}}
/*加载*/



.zhonghang{margin-bottom:70px}