<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui,user-scalable=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script type="text/javascript" src="{$_W['siteroot']}/app/resource/js/lib/mui.min.js?v=20160906"></script>
    <link rel="stylesheet" type="text/css" href="{$_W['siteroot']}app/resource/css/mui.min.css">
    <link href="{S_URL}css/style.css" rel="stylesheet">
    <script src="http://imgcdn.yimiaoxiao.com/jquery.min.js"></script>
    <title>产品反馈</title>
</head>
<body>
{template 'wxsdk'}
{if $op == 'feedback'}
<div class="content">
    <div class="content_box">
        <div class="feedback">
            <div class="feed_head">
                <div>请选择反馈类型</div>
                <select name="feedtype">
                    <option value="1">功能意见</option>
                    <option value="2">页面设计</option>
                    <option value="3">用户体验</option>
                </select>
            </div>

            <div class="feed_fg"></div>
            <!--<div class="upload_img">
                <div class="upload1" style="margin: 0 5.5%;"></div>
                <div class="upload1" style="margin: 0 5.5%;"></div>
                <div class="upload1" style="margin: 0 5.5%;"></div>
                &lt;!&ndash;<div class="upload1"></div>&ndash;&gt;
                <input type="hidden" name="proof">
            </div>
            <div class="feed_fg"></div>-->
            <div class="feed_sugg">
                <textarea placeholder="请输入产品意见，我们将不断优化" name="content"></textarea>
                <input type="text" placeholder="请输入您的手机号/邮箱(选填)" name="phone">
            </div>
            <a id="feed_sub">提交</a>
        </div>
    </div>
</div>
<div id="loading-fs">
    <div><i id="loadanim"></i><span>提交数据中，请稍后 ...</span></div>
</div>
<script>
    wx.ready(function(){
        $('.upload_img>div').click(function(){
            var _this = $(this);
            wx.chooseImage({
                count: 1, // 默认9
                sizeType: ['compressed'], // 可以指定是原图还是压缩图，默认二者都有
                success: function (res) {
                    var localIds = res.localIds;
                    wx.uploadImage({
                        localId: localIds[0],
                        isShowProgressTips: 1,
                        success: function (res) {
                            var serverId = res.serverId;
                            //console.log(serverId);
                            _this.attr('data-id',serverId);
                            _this.css({"background-image":"url("+localIds[0]+")"});
                            if(window.__wxjs_is_wkwebview){
                                wx.getLocalImgData({
                                    localId:localIds[0],
                                    success:function(res){
                                        _this.css({"background-image":"url("+res.localData+")"});
                                    }
                                });
                            }
                        }
                    });
                }
            });
        });


    });
    var process = false;
    $(function(){
        $('#feed_sub').click(function () {
            if(process)return false;
            var feedtype = $("[name = 'feedtype']").val();
            var content = $("[name = 'content']").val();
            var phone = $("[name = 'phone']").val();
            var pattern = /^1[34578]\d{9}$/;
            var reg = /\w+[@]{1}\w+[.]\w+/;
            if(!content){
                mui.alert('意见不能为空！');return false;
            }
            if(phone){
                if (!pattern.test(phone) && !reg.test(phone)){
                    mui.alert('手机号码或邮箱格式有误！');return false;
                }
            }
            $("#loading-fs").show();
            $.post("{php echo $this->createMobileUrl('pro_feedback',array('op'=>'feedpost'))}",{feedtype:feedtype,content:content,phone:phone},function (data) {
                if (data == 200){
                    window.location.href = "{php echo $this->createMobileUrl('pro_feedback',array('op'=>'end'))}";
                }else{
                    mui.alert('提交失败！');
                }
            });
            $("#loading-fs").hide();
            process = true;
        });
    });
    
</script>
{/if}
{if $op == 'end'}
<div class="content">
    <div class="content_box">
        <div class="appeal1_box">
            <i class="appeal_suc">&#xe60d;</i>
            <div>您上传的结果我们已经收到，将尽快为您处理。</div>
        </div>
        <a id="appeal_back" href="{php echo $this->createMobileUrldeM('wxjj','uc')}">返回</a>
    </div>
</div>
{/if}
</body>
</html>