<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui,user-scalable=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="{S_URL}css/style.css" rel="stylesheet">
    <title>我的申诉</title>
</head>
<body>
{if $wfdata}
<div class="my_ss_list">
    {loop $wfdata $item}
    <ul>
        <li>
            <span>申诉事件</span>
            <span>{$item['appeal_why']}</span>
        </li>
        <li>
            <span>申诉时间</span>
            <span>{php echo date('Y-m-d',$item['time'])}</span>
        </li>
        <li>
            <span>申诉状态</span>
            <span>{if $item['status'] == 2}等待审核{elseif $item['status'] == 1}审核通过{else}审核未通过{/if}</span>
        </li>
        <li></li>
    </ul>
    {/loop}
    <a href="javascript:history.go(-1);">返回</a>
</div>
{else}
<div class="content">
    <div class="content_box">
        <div class="appeal1_box">
            <i class="appeal_suc">&#xe8ae;</i>
            <div>您还没有申诉记录。</div>
        </div>
        <a id="appeal_back" href="javascript:history.go(-1);">返回</a>
    </div>
</div>
{/if}
</body>
</html>
