<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui,user-scalable=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="{S_URL}css/style.css" rel="stylesheet">
     <script src="{S_URL}js/jquery-3.0.0.js"></script>
    <title>我的申诉</title>
</head>
<body>
{if $wfdata}
<div class="my_ss_list">
    {loop $wfdata $item}
    <ul>
        <li>
            <span>申诉事件</span>
            <span>{$item['appeal_why']}</span>
        </li>
        <li>
            <span>申诉时间</span>
            <span>{php echo date('Y-m-d',$item['time'])}</span>
        </li>
        <li>
            <span></span>
           <a href="javascript:void(0)" data-id="{$item['id']}" style="margin: 10px auto;height: 38px;line-height: 38px;padding:0 0" class="ssjg">查看申诉状态</a>
        </li>
        <li class="ssnr" style="display: none;float:right;">
         
            <span class="sszt">申诉结果</span>
      
            <span class="ssjgnr"></span>
        </li>
        <li></li>
    </ul>
    {/loop}
    <a href="javascript:history.go(-1);">返回</a>
</div>  
{else}
<div class="content">
    <div class="content_box">
        <div class="appeal1_box">
            <i class="appeal_suc">&#xe8ae;</i>
            <div>您还没有申诉记录。</div>
        </div>
        <a id="appeal_back" href="{php echo $this->createMobileUrldeM('wxjj','uc')}">返回</a>
    </div>
</div>
{/if}
<script>
    $(".ssjg").click(function(){
        var is = $(this)
        if(is.parent('li').next().css("display")=="none" ){
            var id = $(this).attr('data-id')
            
            // $(this).parent('li').next().show();
            $('#loading-fs').show();
            $.post("{php echo $this->createMobileUrl('ssjgpost')}",{id:id},function (data){
                    // alert(data)
                    if(data==0){
                        $('#loading-fs').hide();
                        is.parent('li').next().show()
                        is.parent().next().find('.sszt').text("申诉状态：处理中");
                        // is.parent().next().find('.ssjgnr').text("我们已经收到您的申诉，将尽快为您处理，请耐心等待");
                    }else{
                        $('#loading-fs').hide();
                        is.parent('li').next().show()
                         // console.log($(this).parent().next())
                         is.parent().next().find('.sszt').text("申诉结果：");
                        is.parent().next().find('.ssjgnr').text(data);
                    }

                        
                         
                 })
               
        }else{  
                
                is.parent().next().hide();
        }
        

    })


</script>
<div id="loading-fs">
    <div><i id="loadanim"></i><span>提交数据中，请稍后 ...</span></div>
</div>
</body>
</html>
