<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui,user-scalable=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<script src="{S_URL}js/vconsole.min.js"></script>-->

    <script type="text/javascript" src="{$_W['siteroot']}/app/resource/js/lib/mui.min.js?v=20160906"></script>
    <link rel="stylesheet" type="text/css" href="{$_W['siteroot']}app/resource/css/mui.min.css">
    <link href="{S_URL}css/style.css" rel="stylesheet">
    <script src="{S_URL}js/jquery-3.0.0.js"></script>
    <title>添加绑定车辆</title>
</head>
<body>
{template 'wxsdk'}
{if $op == 'wx_car'}
<div class="content wx_car">
    <div class="content_box">
        <div class="bind_car">添加绑定车辆</div>
        <div class="query_box" style="margin-top:5%;">
            <div class="car_style">
                <div>车辆类型</div>
                <select name="wx_type"  style="font-size:0.9rem;">
                    {loop $cartype $tiem}
                    <option value="{$tiem['carnum']}">{$tiem['cartype']}</option>
                    {/loop}
                </select>
            </div>
            <div class="car_style">
                <div>车牌号码</div>
                <input type="text" name="wx_car_num" id="car_number1" style="font-size:0.9rem;" value="苏B">
            </div>
            <div class="car_style">
                <div>发动机号<br><a class="where">(在哪里)</a></div>
                <input type="tel" placeholder="请输入发动机号后六位" id="car_fa1" name="wx_car_engine" style="font-size:0.9rem;">
            </div>
        </div>
        <a id="query1">立即绑定</a>
        <div class="bind">温馨提示：非苏B车辆点击<a href="{php echo $this->createMobileUrl('user_car',array('op'=>'wd_car'))}">这里绑定</a></div>
    </div>
</div>
<script>
    var process = false;
    $(function(){
        $('#query1').click(function(){
            if(process)return false;
            var wx_type = $("[name = 'wx_type']").val();
            var wx_car_num = $("[name = 'wx_car_num']").val();
            var wx_car_engine = $("[name = 'wx_car_engine']").val();
            reg=/^苏B[0-9A-Za-z]{5}$/;
            if (!reg.test(wx_car_num)){
                mui.alert('请正确输入车牌号');return false;
            }
            if(wx_car_engine.length != 6){
                mui.alert('发动机号输入有误！');return false;
            }
            $("#loading-fs").show();
            $.post("{php echo $this->createMobileUrl('user_car',array('op'=>'wx_car_post'))}",{wx_type:wx_type,wx_car_num:wx_car_num,wx_car_engine:wx_car_engine},function(data){
                $("#loading-fs").hide();
               //mui.alert(data.data);return false;
                if(data == 100){
                    //alert("<div class='car_cover'><div class='cover_box'><p>最多只能绑定两辆车</p><a>确定</a></div></div>");return false;
                    mui.alert('最多只能绑定两辆车');return false;
                }
                if(data == 400){
                    mui.alert('车辆已被绑定！');return false;
                }
                if(data == 300){
                    mui.alert('车辆绑定失败！');return false;
                }
                $('.wx_car').hide();
                $('.sub_car').show();
                process = true;
            },'JSON');
        });
    });
</script>

{/if}
{if $op == 'wd_car'}
<div class="content wd_car">
    <div class="content_box">
        <div class="bind_car">添加绑定外地车辆</div>
        <div class="query_box" style="margin-top:5%;">
            <div class="car_style">
                <div>车辆类型</div>
                <select name="wd_type"  style="font-size:0.9rem;">
                    {loop $cartype $tiem}
                    <option value="{$tiem['carnum']}">{$tiem['cartype']}</option>
                    {/loop}
                </select>
            </div>

            <div class="car_style">
                <div>车牌号码</div>
                <input type="text" name="wd_car_num" id="car_number1" style="font-size:0.9rem;" placeholder="请添加车牌号码">
            </div>
            <div class="car_style">
                <div>发动机号<br><a class="where">(在哪里)</a></div>
                <input type="tel" placeholder="请输入发动机号后六位" id="car_fa1" name="wd_car_engine"  style="font-size:0.9rem;">
            </div>

        </div>
        <a id="query">立即绑定</a>
        <div class="bind">温馨提示：苏B车辆点击<a href="{php echo $this->createMobileUrl('user_car',array('op'=>'wx_car'))}">这里绑定</a></div>
    </div>
</div>
<script>
    var process = false;
    $(function(){
        $('#query').click(function(){
            if(process)return false;
            var wd_type = $("[name = 'wd_type']").val();
            var wd_car_num = $("[name = 'wd_car_num']").val();
            var wd_car_engine = $("[name = 'wd_car_engine']").val();
            reg=/^[京津沪渝冀豫云辽黑湘皖鲁苏新浙赣鄂桂甘晋蒙陕吉闽贵粤青藏川宁琼使领]{1}[A-Za-z]{1}[A-Za-z0-9]{4}[A-Za-z0-9挂学警港澳]{1}$/;
            if (!reg.test(wd_car_num)){
                mui.alert('请正确输入车牌号');return false;
            }
            if(wd_car_engine.length != 6){
                mui.alert('发动机号输入有误！');return false;
            }
            $("#loading-fs").show();
            $.post("{php echo $this->createMobileUrl('user_car',array('op'=>'wd_car_post'))}",{wd_type:wd_type,wd_car_num:wd_car_num,wd_car_engine:wd_car_engine},function(data){
                $("#loading-fs").hide();
                //console.log(data);return false;
                if(data == 100){
                    mui.alert('最多只能绑定两辆车');return false;
                }
                if(data == 400){
                    mui.alert('车辆已被绑定！');return false;
                }
                if (data == 300){
                    mui.alert('绑定失败');return false;
                }
                $('.wd_car').hide();
                $('.sub_car').show();
                process = true;
            });


        });
    });
</script>
{/if}

<div class="content sub_car" style="display: none;">
    <div class="content_box">
        <div class="appeal1_box">
            <i class="appeal_suc">&#xe60d;</i>
            <div>我们将尽快审核，请在24小时之后到个人中心，我的车辆中查看审核结果！</div>
        </div>
        <a id="appeal_back_car" href="{php echo $this->createMobileUrl('user_car')}">返回</a>
    </div>
</div>

{if $op == 'success_car'}
<!--只绑定辆车的信息-->

{if $bdcarnum == 1}
        {if $typecar['distinction'] == 0}
            <div class="account_mana">
                <div class="acc_person_car">
                    <p>绑定车辆</p>
                    <p>{$typecar['wd_car_num']}</p>
                    {if $typecar['status'] != 2}
                    <p class="del_bound_car" id="{$typecar['id']}" style="float: right;margin-right: 3%;color: #999;">
                        <i>&#xe67f;</i>
                        <span>移除</span>
                    </p>
                    {/if}
                </div>
                <div class="acc_person_car">
                    <p>状态</p>
                    <p>{if $typecar['status'] == 2}申请中{elseif $typecar['status'] == 0}绑定成功{else}申请失败{/if}</p>
                </div>
                <a href="{php echo $this->createMobileUrl('user_car',array('op'=>'wx_car'))}">添加绑定车辆</a>
            </div>
        {elseif $typecar['distinction'] == 1}
            <div class="account_mana">
                <div class="acc_person_car1" >
                    <p>{$typecar['wx_car_num']}</p>
                    <p class="ckwfxx" data-type="{$typecar['wx_type']}" data-engine="{$typecar['wx_car_engine']}" data-num="{$typecar['wx_car_num']}">点击查看违法信息</p>
                    <p class="del_bound_car" id="{$typecar['id']}" style="float: right;margin-right: 3%;color: #999;">
                        <i>&#xe67f;</i>
                        <span>移除</span>
                    </p>
                </div>
                <div class="acc_person_car2">
                    <p>违法状态</p>
                    <p>{$typecar['ZT']}</p>
                </div>
                <div class="acc_person_car2">
                    <p>检验有效期止</p>
                    <p>{$typecar['YXQZ']}</p>
                </div>
                <div class="acc_person_car2">
                    <p>强制报废期止</p>
                    <p>{$typecar['QZBFQZ']}</p>
                </div>
                <a href="{php echo $this->createMobileUrl('user_car',array('op'=>'wx_car'))}">添加绑定车辆</a>
            </div>
        {/if}
<!--绑定两辆车的信息-->
{elseif $bdcarnum == 2}
{loop $typecar $k $item}
{if $item['distinction'] == 0}
<div class="account_mana">
    <p class="mana_car_1">{if $k == 0}绑定车辆一{elseif $k == 1}绑定车辆二{/if}</p>
    <div class="acc_person_car">
        <p>绑定车辆</p>
        <p>{$item['wd_car_num']}</p>
        {if $item['status'] != 2}
        <p class="del_bound_car" id="{$item['id']}" style="float: right;margin-right: 3%;color: #999;">
            <i>&#xe67f;</i>
            <span>移除</span>
        </p>
        {/if}
    </div>
    <div class="acc_person_car">
        <p>状态</p>
        <p>{if $item['status'] == 2}申请中{elseif $item['status'] == 0}绑定成功{else}申请失败{/if}</p>
    </div>
</div>
{elseif $item['distinction'] == 1}
<div class="account_mana">
    <p class="mana_car_1">{if $k == 0}绑定车辆一{elseif $k == 1}绑定车辆二{/if}</p>
    <div class="acc_person_car1" >
        <p>{$item['wx_car_num']}</p>
        <p class="ckwfxx" data-type="{$item['wx_type']}" data-engine="{$item['wx_car_engine']}" data-num="{$item['wx_car_num']}">点击查看违法信息</p>
        <p class="del_bound_car" id="{$item['id']}">
            <i>&#xe67f;</i>
            <span>移除</span>
        </p>
    </div>
    <div class="acc_person_car2">
        <p>违法状态</p>
        <p>{$item['ZT']}</p>
    </div>
    <div class="acc_person_car2">
        <p>检验有效期止</p>
        <p>{$item['YXQZ']}</p>
    </div>
    <div class="acc_person_car2">
        <p>强制报废期止</p>
        <p>{$item['QZBFQZ']}</p>
    </div>
</div>
{/if}
{/loop}
{/if}
<script>
    $(function(){
        $('.ckwfxx').click(function(){
            var wx_type = _this.attr('data-type');
            var wx_car_num = _this.attr('data-num');
            var wx_car_engine = _this.attr('data-engine');
            window.location.href = "{php echo $this->createMobileUrl('wfcar')}&wx_type="+wx_type+'&wx_car_num='+wx_car_num+'&wx_car_engine='+wx_car_engine;
        });
    });
</script>
</body>
</html>
