<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui,user-scalable=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href="{S_URL}/css/index.css" rel="stylesheet">
<script src="{S_URL}/js/jquery-3.0.0.js"></script>
<script src="{S_URL}/js/index.js"></script>
<title>有e贷，没烦恼</title>
</head>

<body>
	<!--首页-->
{if $op == 'index'}
    <div class="content" id="content" style="display:block">
        <form onsubmit="return false;">
        <div class="input_box">
            <p>输入名字试试看呢</p>
            <input type="text" name="name" id="userName">
            <input type="hidden" name="key" value="{$key}">
        </div>

        <div class="radio-box">
            <div class="radio-m-box">
                <input type="radio" id="male" name="sex" value="meale" checked/>
                <label for="male" class="checked"><span style="opacity: 0; display: inline-block; width: 16%;">男</span></label>
            </div>
            <div class="radio-w-box">
                <input type="radio" id="female" name="sex" value="female"/>
                <label for="female"><span style="opacity: 0; display: inline-block; width: 16%;">女</span></label>
            </div>
        </div>
        </form>
        <a id="btn"><img src="{S_URL}/img/create-btn.png"/></a>
    </div>
    {template 'wxsdk'}
    <script>
        $('label').click(function(){
            var radioId = $(this).attr('name');
            $('label').removeAttr('class') && $(this).attr('class','checked');
            $('input[type="radio"]').removeAttr('checked') && $('#' + radioId).attr('checked','checked');
        });

        $(function(){
            $('#btn').click(function(){
                var v = $('#userName').val().length;
                var name = $('#userName').val();
                if(name == ''){
                    alert('名字不能为空噢！');
                    return false;
                }
                if (v < 5){
                    var src = $("form").serialize();
                    // src = "{php echo $this->createMobileUrl('ShowImg')}&"+src;
                    $('.show_img').attr('src',src);
                    $('#content').hide();
                    $('#page2').show();
                    window.location.href="{php echo $this->createMobileUrl('indexx',array('op'=>'page2'))}&"+src;
                }else{
                    alert('名字长度过长');
                }
            });

        });
        wx.ready(function(){
            _title = "有e贷，没烦恼！";
            _link = "{$_W['siteurl']}";
            _imgUrl = "{S_URL}/img/share_img.jpg";
            _desc = "说不定点进来就有人帮你解决了呢";
            wx.onMenuShareTimeline({
                title: _title,
                link: _link,
                imgUrl: _imgUrl,
                success: function () {
                }
            });
            wx.onMenuShareAppMessage({
                title: _title,
                link: _link,
                desc: _desc,
                imgUrl: _imgUrl,
                success: function () {
                }
            });
        });
    </script>
{/if}
    {if $op == 'page2'}
    <!--生成页-->
    <div class="page2" id="page2" style="display: block">
        <div class="cont_box">
            <div class="bg_area" style="width: 90%;margin: 0 auto">
                <img src="" class="show_img" >
            </div>
        </div>
        <!--第二页显示的按钮-->
        <div class="page2_btn" id="page2_btn">
            <a class="again" id="again"><img src="{S_URL}/img/again.png"></a>
            <a class="share" id="share"><img src="{S_URL}/img/share-btn.png"></a>
        </div>
        <div class="know_box">
            <a class="realize" id="realize"><img src="{S_URL}/img/realize.png"></a>
        </div>

        <!--遮罩层 用于覆盖整个页面-->
        <div id="maskDiv" class="mask"  style="display:none;">
            <!--弹出图片-->
            <div id="troubleDiv" class="troubleDiv" >
                <img src="{S_URL}/img/trouble.png"/>
            </div>
        </div>
    </div>
    {template 'wxsdk'}
    <script>
        $(function(){
            $('.realize').click(function(){
                $('.page4').show();
            });
            $('.page4').click(function(){
                $('.page4').hide();
            });
            $('#again').click(function(){
                window.location.href="{php echo $this->createMobileUrl('indexx')}";
            });
            $("#share").click(function() {
                $('#maskDiv').show();
            });
            $("#maskDiv").click(function() {
                $('#maskDiv').hide();
            });
            src = "{php echo $this->createMobileUrl('ShowImg',array('name'=>$_GPC['name'],'sex'=>$_GPC['sex'],'key'=>$_GPC['key']))}";
            $('.show_img').attr('src',src);
        });
        wx.ready(function(){
            _title = "{$_GPC['name']}正向你诉说TA的烦恼,你的呢？";
            _link = "{$_W['siteroot']}app/index.php?i={$_W['uniacid']}&c=entry&do=indexx&m=create_img&op=page3&name={$_GPC['name']}&sex={$_GPC['sex']}&key={$_GPC['key']}";
            _imgUrl = "{S_URL}/img/share_img.jpg";
            _desc = "说不定点进来就有人帮你解决了呢";
            wx.onMenuShareTimeline({
                title: _title,
                link: _link,
                imgUrl: _imgUrl,
                success: function () {
                }
            });
            wx.onMenuShareAppMessage({
                title: _title,
                link: _link,
                desc: _desc,
                imgUrl: _imgUrl,
                success: function () {
                }
            });
        });
    </script>
    {/if}
    <!--分享页-->
    {if $op == 'page3'}
    <div class="page3" id="page3">
        <div class="cont_box">
            <div class="bg_area" style="width: 90%;margin: 0 auto">
                <img src="" class="show_img" >
            </div>
        </div>
        <div class="page3_btn" id="page3_btn">
            <!--第三页显示的按钮-->
            <a class="play" id="play"><img src="{S_URL}/img/play-btn.png"></a>
        </div>
        <div class="know_box" id="know_boxId">
            <!--第三页显示的按钮-->
            <a class="about" id="about" onclick=""><img src="{S_URL}/img/about.png"></a>
        </div>
    </div>
    {template 'wxsdk'}
    <script>
        $(function(){
            $('.about').click(function(){
                $('.page4').show();
            });
            $('.page4').click(function(){
                $('.page4').hide();
            });
            src = "{php echo $this->createMobileUrl('ShowImg',array('name'=>$_GPC['name'],'sex'=>$_GPC['sex'],'key'=>$_GPC['key']))}";
            $('.show_img').attr('src',src);
            $('#play').click(function(){
                window.location.href="{php echo $this->createMobileUrl('indexx')}";
            });
        });
        wx.ready(function(){
            _title = "{$_GPC['name']}正向你诉说TA的烦恼,你的呢？";
            _link = "{$_W['siteroot']}app/index.php?i={$_W['uniacid']}&c=entry&do=indexx&m=create_img&op=page3&name={$_GPC['name']}&sex={$_GPC['sex']}&key={$_GPC['key']}";
            _imgUrl = "{S_URL}/img/share_img.jpg";
            _desc = "说不定点进来就有人帮你解决了呢";
            wx.onMenuShareTimeline({
                title: _title,
                link: _link,
                imgUrl: _imgUrl,
                success: function () {
                }
            });
            wx.onMenuShareAppMessage({
                title: _title,
                link: _link,
                desc: _desc,
                imgUrl: _imgUrl,
                success: function () {
                }
            });
        });
    </script>
    {/if}
    <!--了解你好易贷页面-->
    <div class="page4" style="display:none;"></div>
</body>
</html>

