<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui,user-scalable=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="{S_URL}css/style.css" rel="stylesheet">
    <script src="http://imgcdn.yimiaoxiao.com/jquery.min.js"></script>
    <title>办事指南</title>
</head>
{php echo htmlspecialchars_decode($data['content'])}
<body>
{if $op == 'list'}
<div class="content">
    <div class="content_box">
        <div class="search_box">
            <div class="search">
                <input type="text" placeholder="请输入关键词" id="search">
                <button class="seek"><i>&#xe601;</i></button>
            </div>
            <div class="search_tip" >
                <span>热门搜索:</span>
                <span>
                    {loop $keylist $val}
                    <a href="{php echo $this->createMobileUrl('guide',array('op' => 'key','hotkey' =>$val['hotkey']))}" style="text-decoration: none;">{$val['hotkey']}</a>
                    {/loop}
                </span>
            </div>
        </div>
        <div style="height: 10px;background-color: #f5f5f5"></div>
        <div class="guild">
            <div class="guild_box">
                {loop $data $k $item}
                <a class="guild1" href="{php echo $this->createMobileUrl('guide',array('op' => 'title','id' =>$item['id']))}" style="color: #555;">
                    <div class="icon{$item['id']}"><i>{$item['ioc']}</i></div>
                    <div>{$item['title']}</div>
                    <i class="icon11">&#xe622;</i>
                </a>
                <div style="height: 10px;background-color: #f5f5f5"></div>
                {/loop}

            </div>
        </div>

    </div>
</div>
<div id="loading-fs">
    <div><i id="loadanim"></i><span>正在查询，请稍后 ...</span></div>
</div>
<script>
    var process = false;
    $(function(){
        $('.seek').click(function(){
            if(process)return false;
            var search = $('#search').val();
            $("#loading-fs").show();
            window.location.href = "{php echo $this->createMobileUrl('guide',array('op' => 'key'))}&hotkey=" + search;
            process = true;
        });
    });
</script>
{/if}
{if $op == 'key'}
<div class="content">
    <div class="content_box">
        <div class="guild1_box">
            {if $keylist}
            {loop $keylist $val}
            <a href="{php echo $this->createMobileUrl('guide',array('op' => 'content','id' =>$val['id']))}" style="color: #555;">
                <div class="question1">
                    <div class="ques">{$val['title']}</div>
                    <i>&#xe626;</i>
                </div>
            </a>
            {/loop}
            {else}
                <div style="text-align: center;margin-top: 50px">没有查到你要找的信息</div>
            {/if}
        </div>
    </div>
</div>
{/if}
{if $op == 'title'}
<div class="content">
    <div class="content_box">
        <div class="guild1_box">
            {loop $title $item}
            <a href="{php echo $this->createMobileUrl('guide',array('op' => 'content','id' =>$item['id']))}" style="color: #555;">
                <div class="question1">
                    <div class="ques">{$item['title']}</div>
                    <i>&#xe626;</i>
                </div>
            </a>
            {/loop}
            <!--<div class="question2">
                <div class="ques2">变更登记<span>(地址、姓名[名称]、身份证明名称/号码、联系方式在车辆管理所管辖区内变更)</span></div>
                <i>&#xe626;</i>
            </div>
            </div>-->
        </div>
    </div>
</div>
{/if}
{if $op == 'content'}
<div class="content">
    <div class="content_box">
        <div class="license_head">
            <div style="font-weight: bold;">{$content['title']}</div>
            <div>{php echo date('Y-m-d',$content['time'])}</div>
        </div>
        <div class="lice_con">
            <div class="license_box">
                {php echo htmlspecialchars_decode($content['content'])}
            </div>
        </div>
       <!-- <a id="back" href="{php echo $this->createMobileUrl('guide',array('op' => 'list'))}">返回</a>-->
    </div>
</div>
{/if}
</body>
</html>
